<section id="dash_stats" class="dash_stats-head dash_stats_videos">
  <div class="head">
     <div class="compare-selects">
      <div class="centerq">
        <label>Sortieren nach:  </label>
        <select class="cs-select cs-skin-underline form-field cs-select-set cs-select-right" id="select-rating">
          <option value="date" selected>Date</option>
          <option value="rating">Rating</option>
        </select>
      </div>

    <div class="center-r">
    </div>
  </div>

  </div>
  <div class="video-overview">
    <%= render partial: 'videos' , locals: {delete: false}%>
  </div>
</section>



  <% content_for(:body_attributes) do %>
    data-turbolinks="false"
  <% end %>
<script type="text/javascript">

    (function() {
    [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach(
        function(el) {
           new SelectFx(el);
           newTab: false;
        } );
    })();
    function selectClickFunctions(){
      var userList = $(".cs-options")[0],
      usersOption = $($(".cs-options")[0]).find("ul li"),
      teamList = $(".cs-options")[1],
      teamOption = $($(".cs-options")[1]).find("ul li");
      usersOption.on('click', function(e){
          $("#select-team").val('');
          filterVideos()

      })
      teamOption.on('click', function(e){
        e.preventDefault()
        $("#select-user").val('');
        filterVideos()

      })

    }

    selectClickFunctions()
    function deleteVideoFunction(){
     $(".delete-video").on('click', function(e){
      e.preventDefault();
      var $this = $(this);
      var id = $this.data("id");
      var result = confirm("Want to delete?");
      if (result) {
        $.ajax({
          url: '/dash/stats/turns/'+id,
          type: 'delete',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          success:  function(res){
            $("#videoNo"+id).remove()
            filterVideos()
          }
        })
      }
     }) 
    }
    deleteVideoFunction();
    var sortBy = $(".cs-options")[2],
    sortOption = $($(".cs-options")[2]).find("ul li");
    sortOption.on('click', function(e){
      var $val = $("#select-rating").val() 
      sortAndRenderTurns($val)      
    })
    var turns = (<%= raw(@result.to_json) %>);
    var teams = <%= raw(@teams.to_json) %>;
    function filterVideos(){
        var team_id = $("#select-team option:selected").val(),
          user_id = $("#select-user option:selected").val(),
          sort_by = $("#select-rating option:selected").val();
        $.ajax({
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: '/dash/filter_videos',
            type: 'post',
            data: {sort_by: sort_by},
            success: function(res){
              if(res.users){
                var template = '<select class="cs-select cs-again-select cs-skin-underline form-field cs-select-set cs-select-left select-user" id="select-user">';
                template+= '<option value="">Select User</option>'
                if(res.users && res.users.length > 0){
                  res.users.forEach(function(u){
                    template += `<option value="`+u.id +`">`+u.fname +` `+ u.lname +`</option>`;
                  })
                }
                template+= '</select>';
                var selectId = $("#select-team option:selected").val();
                $(".cs-again-select").remove()
                $('.centerq').append(template);
                var teamTemplate = `<select class="cs-select  cs-again-select select-team cs-selected cs-skin-underline form-field cs-select-set cs-select-right" id="select-team">`;
                  teamTemplate+=`<option value=''>Select Team</option>`
                  teams.forEach(function(el){
                    if(parseInt(selectId) == el.id ){
                      teamTemplate+=`<option value=`+el.id+` data-class="cs-selected" selected>`+el.name +`</option>`;
                    }else{
                      teamTemplate+=`<option value=`+el.id+`>`+el.name +`</option>`;
                    }
                  });
                  teamTemplate+=`</select>`;
                  $(".centerq").append(teamTemplate)
                   document.querySelectorAll( 'select.cs-again-select' ).forEach(
                      function(el) {
                         new SelectFx(el);
                         newTab: false;
                      } );
                  selectClickFunctions()
              }
              $(".video-overview").empty()
              $(".video-overview").html(res.turns_html)
              deleteVideoFunction();
              turns = res.turns;
            }
        })
    }

    function dynamicSort(property) {
      var sortOrder = 1;
      if(property[0] === "-") {
          sortOrder = -1;
          property = property.substr(1);
      }
      return function (a,b) {
          /* next line works with strings and numbers, 
           * and you may want to customize it to your needs
           */
          var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
          return result * sortOrder;
      }
    }
    function sortAndRenderTurns(val){
      renderTemplate(val)
    }

    function  renderTemplate(val){      
      var team_id = $("#select-team option:selected").val(),
          user_id = $("#select-user option:selected").val(),
          sort_by = "time";
        $.ajax({
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: '/dash/filter_videos',
            type: 'post',
            data: {user_id: user_id,team_id: team_id, sort_by: val},
            success: function(res){
              $(".video-overview").empty()
              $(".video-overview").html(res.turns_html)
              deleteVideoFunction();
              turns = res.turns;
            }
      })
      deleteVideoFunction();
      
    }
</script>