<section id="catchword-container">
    <div class="add_team" onclick="openCatchword()">
       <a onclick="openCatchword()"></a>
        <div class="head">
            Catchwords
        </div>
        <div class="middle">
            +
        </div>
        <div class="bottom">
            hinzufügen
        </div>
    </div>

</section>


<%= render partial: "catchwords_modal"%>