<%= video_tag 'gameintro.mp4', id: 'video-bg', autoplay: false, controls: false, onended: 'redir()' %>
<section id="skip" style="color: black">
   Skip mit Leertaste
</section>
<div id="redirect">
    <%= render partial: 'state' %>
</div>
<script>
    document.getElementById('video-bg').play();
    function redir() {
        window.location.replace('<%= gda_redirect_url %>');
    }
    $(document).ready(
        function() {
            setInterval(function() {
                if($('#redirect').text().trim() == "intro") {
                    $('#redirect').load('intro #redirect');
                } else {
                    window.location.replace('<%= gda_wait_url %>');
                }                
            }, 2000);
        }
    )

</script>