<section id="head" class="bounce_in">
        <h1 class="nunito-bold">Jetzt <%= @user.fname %> bewerten!</h1>
</section>
<section id="middle" class="fly_in_right">
    <div class="circle">
        <%= image_tag @user.avatar.quad.url, class: 'buzz' %>
    </div>
</section>
<section id="skip" class="nunito-bold">
   Skip mit Leertaste
</section>
<input type="hidden" value=true id="admin" name="">
<%= audio_tag(rate_sound, autoplay: true, id: 'theme') %>

<script>
	document.getElementById("theme").volume = 0.2;
    $(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gda_rating_path %>');
        };
    })
</script>