.objection-modal{
	background: transparent;
}
.objection-modal .modal-content{
	border: 0 !important;
	background: transparent;
	color: white
}
.objection-modal .modal-dialog {
	max-width: 600px;
}
#objection-text{
    font-size: 66px;
    margin-bottom: 24px;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}
.countdown .progress {
	height: 2.5rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #fff;
	border-radius: 30px;
	padding: 2px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);
}
.countdown .progress .progress-bar {
	background-image: none;
	background-color: #ff6b6c;
	border-radius: 22px;
}

.blur {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}




