.objection-modal{
	background: transparent;
}
.objection-modal .modal-content{
	border: 0 !important;
	background: transparent;
	color: white
}
.objection-modal .modal-dialog {
	max-width: 690px;
}
#objection-text{
    font-size: 14.4vh;
    margin-bottom: 3.4vh;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}
.countdown .progress {
	height: 6.577vh;
	overflow: hidden;
	font-size: .75rem;
	min-width: 104vh;
	width: 100%;
	background-color: #fff;
	border-radius: 6vh;
	padding: 0;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);
}
.countdown .progress .progress-bar {
	background-image: none;
	background-color: #ff6b6c;
	border-radius: 6vh;
}

.blur {
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-ms-filter: blur(15px);
	-o-filter: blur(15px);
	filter: blur(15px);
}

.play-content-blur {
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-ms-filter: blur(15px);
	-o-filter: blur(15px);
	filter: blur(15px);
	height: 100vh;
	overflow: hidden;
}


@media (max-width: 767px) {
	.countdown .progress {
		width: 500px;
	}

}



@media (max-width: 500px) {
	.countdown .progress {
		width: 300px;
	}

}




