/*
 *= require barack
 *= require game_desktop/wait
 *= require game_desktop/choose_turn
 *= require game_desktop/play
 *= require game_desktop/rated
 *= require game_desktop/custom
 *= require game_desktop/ended
 *= require bootstrap.min
 *= require omnes
 *= require main/animate
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.animat {
	animation-duration: 0.5s;
	animation-name: zoomIn;
}
body {
    font-family: 'BarackPro-Solid';
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    line-height: 7vh;
    font-size: 4vh;
    width: 100vw;
    text-align: center;
    color: #1dacf1;
    background-color: white;
    box-shadow: 0 .5rem .5rem 0 rgba(0,0,0,0.2);
    z-index: 100;
    .logo {
        position: absolute;
        left: 1.5vh;
        top: 1.5vh;
        height: 4vh;
    }
    .company {
        position: absolute;
        right: 1.5vh;
        top: 1.5vh;
        height: 4vh;
    }
    .handy {
        position: absolute;
        right: 1.5vh;
        top: 1.5vh;
        height: 4vh;
        animation-name: buzz;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
}
@keyframes handy {
    to {opacity: 0;}
}
#content {
    position: fixed;
    top: 7vh;
    left: 0;
    height: 93vh;
    width: 100vw;
    background: linear-gradient(to right, #1dacf1 0%, #1a8ed6 51%, #145daa 100%);
}
#content #head,
#content #head_wait {
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    line-height: calc((100vh - 70px)/4);
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
.bounce_in {
    animation-name: bounce-in;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
@keyframes bounce-in {
    0% {
        transform: translateX(3000px);
    }
    60% {
     transform: translateX(-25px);
    }
    80% {
        transform: translateX(10px)
    }
    100% {
        transform: translateX(-5px);
    }
}
.fly_in_left {
    opacity: 1;
    animation-name: fly-in-left;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.fly_in_top {
    opacity: 1;
    animation-name: fly-in-top;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.fly_in_right {
    opacity: 1;
    animation-name: fly-in-right;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.fly_in_bottom {
    opacity: 1;
    animation-name: fly-in-bottom;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
@keyframes fly-in-left {
    from {
        transform: translateX(-3000px);
        opacity: 0;
    }
}
@keyframes fly-in-top {
    from {
        transform: translateY(-3000px);
        opacity: 0;
    }
}
@keyframes fly-in-right {
    from {
        transform: translateX(3000px);
        opacity: 0;
    }
}
@keyframes fly-in-bottom {
    from {
        transform: translateY(500px);
        opacity: 0;
    }
}

#content #head h1 {
    line-height: inherit;
    font-size: 10vh;
    margin: 0;
    vertical-align: middle;
}
#content #head h3 {
    line-height: inherit;
    font-size: 7vh;
    margin: 0;
    vertical-align: middle;
}
#content #middle {
    position: absolute;
    top: 25%;
    left: 0;
    height: 50%;
    width: 100%;
    line-height: calc((100vh - 70px)/2);
    color: white;
    
}
#content #middle .circle img{
    position: absolute;
    top: calc(50% - 15vh);
    height: 30vh;
    width: 30vh;
    left: calc(50% - 15vh);
    border: 12px solid rgba(29, 218, 175, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(29, 218, 175, 0.5);
}
#content #middle .blue {
    border-color: #25aae2 !important;
}
#bottom {
    position: absolute;
    top: 75%;
    height: 25%;
    line-height: calc((100vh - 70px)/4);
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 58px;
    font-weight: bold;
    color: white;
}
.video-bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
}
.video-bg #video-blur {
	position: absolute;
	bottom: -20px;
	left: -20px;
	object-fit: fill;
	min-height: calc(100% + 40px);
	min-width: calc(100% + 40px);
	filter: blur(10px);
}
.video-bg #video {
	position: relative;
	top: 0;
	left: 50%;
	height: 100%;
	margin: 0 auto;
	transform: translateX(-50%);
}
#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: fill;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    z-index: 0;
}
#video-bg iframe {
    z-index: -10000;
}
#skip {
    position: fixed;
    bottom: 2vw;
    height: 4vw;
    right: 0;
    font-size: 1.5vw;
    line-height: 3vw;
    color: white;
    padding-right: 2vw;
    text-decoration: none;
    opacity: 0.8;
    animation: fadeinout 5s infinite;
}
.btn-green {
  background-color: #1ddaaf;
  color: #fff;
  border: 1px solid #1ddaaf;
  min-height: 44px;
  min-width: 170px;
  color: #fff;
  font-size: 1.125rem;
  background-color: #1ddaaf;
  border-radius: 22px;
  padding: .45rem 1rem;
  -webkit-box-shadow: 0 9px 18px rgba(0,0,0,0.17);
  -moz-box-shadow: 0 9px 18px rgba(0,0,0,0.17);
  box-shadow: 0 9px 18px rgba(0,0,0,0.17);
}
.btn-green:hover {
    transform: translateY(-1px);
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.1);
}
@keyframes fadeinout {
    0%,100%{ opacity: 0.3; }
    50%{ opacity: 0.8; }
}
.pulse {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.buzz {
    animation-name: buzz;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes buzz {
  2.5% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  5% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  7.5% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  10% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  12.5% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  15% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  17.5% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  20% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  22.5% {
    -webkit-transform: translateX(9px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  25% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
  27.5% {
        -webkit-transform: translateX(0px) rotate(0);
        transform: translateX(0px) rotate(0);
  }
  100% {
        -webkit-transform: translateX(0px) rotate(0);
        transform: translateX(0px) rotate(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  70% {
    box-shadow: 0 0 0 50px rgba(29, 218, 175, 0);
    transform: scale(1.1, 1.1);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(29, 218, 175, 0);
    transform: scale(1, 1);
  }
}


@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#redirect {
    display: none;
}
.modal-email {
  position: relative;
}
.in {
  animation: fill 14s linear 1;
  animation-fill-mode: forwards;
  height: 100%;
  background-color: pink;
}
.custom-in {
  animation: fill 5s linear 1;
  animation-fill-mode: forwards;
  height: 100%;
  background-color: pink;
}
@keyframes fill {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.modal-email {
  font-family: 'Open Sans', sans-serif;
  .modal-dialog {
    width: 100%;
    max-width: 440px;
  }

  .modal-content, .modal-header {
      border: 0;
  }

  .modal-content {
    border-radius: 1vh !important;
  }

  .btn-green-reject {
      margin-left: 0.5em;
  }

  .btn-green:hover {
    color: #16e2a5;
  background-color: white;
  }

  .btn-green-reject {
    background-color: #D7605E;
    border: 1px solid #D7605E;
  }

  .btn-green-reject:hover {
    color: #D7605E;
    background-color: white;
  }

  .btn-green {
    min-height: 30px;
    min-width: 110px;
    color: #fff;
    font-size: 0.9rem;
  }

  .x-btn {
    cursor: pointer;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      // right: 6px !important;
      // top: -2px !important;
      opacity: .5;
      font-family: initial !important;
  }

  .modal-header {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    position: relative;
    .close {
      cursor: pointer !important;
      margin: 0;
      padding: 0;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 3px;
      // width: 30px;
      // height: 30px;
      // border-radius: 50%;
      // position: absolute;
      // right: 0;
      // top: 0;
      // background-color: #1ddaaf;
      color: #fff;
      opacity: 1;
      // font-weight: 600;
      // font-size: 1.75em;
      // span {
      //   line-height: 10px;
      //   position: relative;
      //   top: -5px;
      // }
    }
  }
  .modal-body {
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0;
    .mail-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      .email-add {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }
      .mail-btn {
        min-width: 140px;
        .btn-accept {
          background-color: #1ddaaf;
          border-color: #1ddaaf;
          font-size: 0.87rem;
          padding: 0.25rem 0.75rem 0.45rem 0.75rem;
        }
        .btn-reject {
          background-color: #ff0000;
          border-color: #ff0000;
          font-size: 0.87rem;
          padding: 0.25rem 0.75rem 0.45rem 0.75rem;
        }
      }
    }
	.mail-box-main {
        position: relative;
        padding-left: 44px;
        min-height: 35px;
		max-height: 70px;
		padding-top: 0;
		span {
			position: relative;
			border: none;
			border-radius: 0%;
			max-width: 100%;
			width: 100px;
			text-align: left;
			text-overflow: clip;
		}
        .req-img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            border: 1px solid #ccc;
			margin-top: auto;
			margin-bottom: auto;
            img {
				position: relative;
                width: 100%;
				height: 100%;
            }
        }
    }
  }
}

.penta-img {
  background: image-url('polygon.companylogo.png');
  right: 5vw;
  top: 5vh;
  position: absolute;
  height: 20vh;
  width: 20vh;
  background-size: 20vh;
  display: flex;
  padding: 1.5vh;
  align-items: center;
  justify-content: center;
}
.qr-code-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8vh;
  right: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .qr-img-div {
    border: 2px solid #145daa;
    padding: 2vh;
    background-color: white;
  }


  table {
    border-width: 0;
    border-style: none;
    border-color: #145daa;
    border-collapse: collapse;
  }

  td {
    border-left: solid 0.2em #145daa;
    padding: 0; 
    margin: 0; 
    width: 0; 
    height: 0.2em; 
  }

  td.black { border-color: #145daa; }
  td.white { border-color: #fff; }

}