#gd_rated,
#gd_rated_spontan,
#gd_rated_creativ,
#gd_rated_body,
#gd_rated_rhetoric,
#gd_rated_ges,
#gd_rated_bottom {
    position: absolute;
}
#gd_rated_spontan,
#gd_rated_creativ {
    animation-name: lefty;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes lefty {
    0% {
        left: 0px;
        opacity: 0;
    }
    100% {
        left: 13.262vh;
        opacity: 1;
    }
}
#gd_rated_body,
#gd_rated_rhetoric {
    animation-name: righty;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes righty {
    0% {
        right: 0px;
        opacity: 0;
    }
    100% {
        right: 13.262vh;
        opacity: 1;
    }
}
#gd_rated_ges {
    animation-name: topy;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes topy {
    0% {
        top: 0px;
        opacity: 0;
    }
    100% {
        top: 19.3vh;
        opacity: 1;
    }
}
#gd_rated .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}
#gd_rated .circle {
    position: absolute;
    background-color: #becee0;
    border-radius: 50%;
    box-shadow: 0 0 3rem 0 rgba(0,0,0,0.5);
    overflow: hidden;
}
.circle .bg_1 {
    position: absolute;
    border-radius: 50%;
    background-color: #1ca2e8;
}
.circle .bg_2 {
    position: absolute;
    border-radius: 50%;
    background-color: #156db9;
}
.circle .bg_1 .avatar,
.circle .bg_2 .avatar {
    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    border-radius: 50%;
    opacity: 0.1;
}
.circle .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#gd_rated .pol,
#gd_rated .rate {
    position: absolute;
    font-weight: bold;
    color: white;
    text-align: center;
}


@media only screen and (min-height: 720px) and (min-width: 1280px) {
    #gd_rated {
        left: calc( 50% - 630px );
        top: calc( 50% - 360px );
        width: 1280px;
        height: 720px;
    }
    #gd_rated_spontan,
    #gd_rated_creativ,
    #gd_rated_body,
    #gd_rated_rhetoric {
        height: 300px;
        width: 200px;
    }
    #gd_rated_spontan {
        top: 50px;
        left: 100px;
    }
    #gd_rated_creativ {
        bottom: 50px;
        left: 100px;
    }
    #gd_rated_body {
        top: 50px;
        right: 100px;
    }
    #gd_rated_rhetoric {
        bottom: 50px;
        right: 100px;
    }

    .text {
        margin-top: 10px;
        height: 40px;
        font-size: 25px;
    }
    .circle {
        top: 50px;
        height: 200px;
        width: 200px
    }
    .circle .bg_1,
    .circle .bg_2 {
        top: 15px;
        left: 15px;
        height: 170px;
        width: 170px;
    }
    .circle .shield {
        position: absolute;
        top: 35px;
        left: 35px;
        height: 100px;
        width: 100px;
    }
    #gd_rated .pol,
    #gd_rated .rate {
        top: 160px;
        left: 110px;
        height: 110px;
        width: 110px;
        line-height: 120px;
        font-size: 35px;
        animation-name: pulse1;
        animation-delay: 2s;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    @keyframes pulse1 {
        0% {
            transform: scale(1, 1)
        }
        70% {
            box-shadow: 0 0 0 0 rgba(0, 227, 139, 0);
            transform: scale(1.03, 1.03)
        }
        100% {
            box-shadow: 0 0 0 0 rgba(0, 227, 139, 0);
            transform: scale(1, 1)
        }
    }
    .rate {
        width: 115px;
    }
    #gd_rated_ges {
        top: 150px;
        left: 490px;
        height: 400px;
        width: 300px;
    }

    #gd_rated_ges .text {
        margin-top: 20px;
        line-height: 50px;
        font-size: 50px;
    }
    #gd_rated_ges .circle {
        top: 80px;
        height: 300px;
        width: 300px;
    }
    #gd_rated_ges .circle .avatar {
        top: 20px;
        left: 20px;
        height: 260px;
        width: 260px;
        opacity: 1;
    }
    #gd_rated_ges .pol,
    #gd_rated_ges .rate {
        top: 230px;
        left: 150px;
        height: 210px;
        width: 210px;
        line-height: 220px;
        font-size: 80px;
        font-weight: bolder;
        animation-name: pulse2;
        animation-delay: 2s;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    #gd_rated_ges .rate {
        width: 220px;
    }
    @keyframes pulse2 {
        0% {
            transform: scale(1, 1)
        }
        70% {
            box-shadow: 0 0 0 0 rgba(0, 227, 139, 0);
            transform: scale(1.1, 1.1)
        }
        100% {
            box-shadow: 0 0 0 0 rgba(0, 227, 139, 0);
            transform: scale(1, 1)
        }
    }
}
@media only screen and (min-height: 900px) and (min-width: 1800px) {
    #gd_rated {
        left: calc( 50% - 900px );
        top: calc( 50% - 450px );
        width: 1800px;
        height: 800px;
    }
    #gd_rated_spontan,
    #gd_rated_creativ,
    #gd_rated_body,
    #gd_rated_rhetoric {
        height: 350px;
        width: 350px;
    }
    #gd_rated_spontan {
        top: 50px;
        left: 100px;
    }
    #gd_rated_creativ {
        bottom: 50px;
        left: 100px;
    }
    #gd_rated_body {
        top: 50px;
        right: 100px;
    }
    #gd_rated_rhetoric {
    bottom: 50px;
    right: 100px;
}
.text {
    margin-top: 10px;
    height: 40px;
    font-size: 40px;
}
.circle {
    top: 70px;
    left: 50px;
    height: 250px;
    width: 250px
}
.circle .bg_1,
.circle .bg_2 {
    top: 10px;
    left: 10px;
    height: 230px;
    width: 230px;
}
.circle .shield {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 180px;
    width: 180px;
}
#gd_rated .pol,
#gd_rated .rate {
    top: 210px;
    left: 210px;
    height: 140px;
    width: 140px;
    line-height: 150px;
    font-size: 40px;
    animation-name: pulse1;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes pulse1 {
    0% {
        transform: scale(1, 1)
    }
    70% {
        box-shadow: 0 0 0 50px rgba(0, 227, 139, 0);
        transform: scale(1.03, 1.03)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 227, 139, 0);
        transform: scale(1, 1)
    }
}
    .rate {
        width: 115px;
    }
    #gd_rated_ges {
        top: 150px;
        left: 700px;
        height: 500px;
        width: 400px;
    }
    #gd_rated_ges .text {
        height: 70px;
        font-size: 70px;
    }
    #gd_rated_ges .circle {
        top: 100px;
        left: 0;
        height: 400px;
        width: 400px;
    }
    #gd_rated_ges .circle .avatar {
        top: 20px;
        left: 20px;
        height: 360px;
        width: 360px;
        opacity: 1;
    }
    #gd_rated_ges .pol,
    #gd_rated_ges .rate {
        top: 330px;
        left: 250px;
        height: 210px;
        width: 210px;
        line-height: 220px;
        font-size: 80px;
        font-weight: bolder;
        animation-name: pulse2;
        animation-delay: 2s;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    #gd_rated_ges .rate {
        width: 220px;
    }
@keyframes pulse2 {
  0% {
    transform: scale(1, 1)
  }
  70% {
    box-shadow: 0 0 0 50px rgba(0, 227, 139, 0);
    transform: scale(1.1, 1.1)
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 227, 139, 0);
    transform: scale(1, 1)
  }
}
}


@media (min-width: 1280px) {
  #gd_rated {
    width: 172.3vh;
    height: 96.9vh;
    left: calc( 50% - 84.8vh );
    top: calc( 50% - 48.5vh );
  }
  #gd_rated_spontan,
  #gd_rated_creativ,
  #gd_rated_body,
  #gd_rated_rhetoric {
    width: 26.91vh;
    height: 40.4vh;
  }
  #gd_rated_spontan {
    top: 6.8vh;
    left: 13.5vh;
  }
  #gd_rated_creativ {
    bottom: 7.6vh;
    left: 13.5vh;
  }
  #gd_rated_body {
    top: 6.8vh;
    right: 13.5vh;
  }
  #gd_rated_rhetoric {
    bottom: 7.6vh;
    right: 13.5vh;
  }
  #gd_rated .text {
    margin-top: 1.4vh;
    font-size: 3.3vh;
    height: 4.5vh;
  }
  #gd_rated .circle {
    width: 26.91vh;
    height: 26.91vh;
    top: 6.6vh;
    left: 0vh;
  }
  .circle .bg_1,
  .circle .bg_2 {
    top: 2.1vh;
    left: 2.1vh;
    height: 22.87vh;
    width: 22.87vh;
  }
  .circle .bg_1 .avatar,
  .circle .bg_2 .avatar {
    top: -4vh;
    left: -4vh;
    width: calc(100% + 8.074vh);
    height: calc(100% + 8.074vh);
  }
  .circle .shield {
    width: 13.454vh;
    height: 13.454vh;
    top: 4.8vh;
    left: 4.8vh;
    position: absolute;
  }
  #gd_rated .pol {
    top: 21.6vh;
    left: 14.8vh;
    height: 14.8vh;
    width: 14.8vh;
  }
  #gd_rated .rate {
    font-size: 4.8vh;
    width: 10vh;
    height: 8vh;
    line-height: 8vh;
    top: 25.4vh;
    left: 17.5vh;
  }
  #gd_rated_ges {
    width: 40.36vh;
    height: 53.812vh;
    top: 19.2vh;
    left: 65.9vh;
  }
  #gd_rated_ges .text {
    margin-top: 2.8vh;
    line-height: 6.8vh;
    font-size: 6.8vh;
  }
  #gd_rated_ges .circle {
    width: 40.36vh;
    height: 40.36vh;
    top: 10.8vh;
  }
  #gd_rated_ges .circle .avatar {
    width: 34.978vh;
    height: 34.978vh;
    top: 2.7vh;
    left: 2.7vh;
  }
  #gd_rated_ges .pol {
    width: 28vh;
    height: 28vh;
    top: 31vh;
    left: 20vh;
  }
  #gd_rated_ges .rate {
    width: 18vh;
    height: 14vh;
    line-height: 12vh;
    top: 40vh;
    left: 25vh;
    font-size: 10.8vh;
  }
}



.gd_rated_text_size9 {
    font-size: 5vh !important;
}
.gd_rated_text_size13 {
    top: -7vh !important;
    font-size: 5vh !important;
}
.gd_rated_text_size28 {
    top: -7vh !important;
    font-size: 5vh !important;
    display: table !important;
    margin-left: -5.6vh !important;
}

.gd_criteria_text_size15 {
    top: -4vh !important;
    line-height: 4vh !important;
}
.gd_criteria_text_size30 {
    top: -4vh !important;
    line-height: 4vh !important;
    display: table !important;
    margin-left: -5.6vh !important;
}
.gd_criteria_text_size25 {
    top: -4vh !important;
    line-height: 4vh !important;
    display: table !important;
    margin-left: -2.6vh !important;
}

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}