#content > #count {
    position: absolute;
    top: 25vh;
    height: 50vh;
    left: 0;
    width: 100vw;
    line-height: 50vh;
    font-size: 40vh;
    text-align: center;
    color: white;
    font-weight: bold;
    animation-name: pulse-grow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}