#content #head_wait h1 {
    line-height: 10vh;
    font-size: 10vh;
    margin: 5vh 0 0 0;
    vertical-align: middle;
}
#content #head_wait h5 {
    line-height: 8vh;
    font-size: 3vh;
    margin: 0;
    opacity: 0.8;
}
#content #count {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;
    line-height: calc((100vh - 70px) / 2);
    font-size: 40vh;
    text-align: center;
    color: white;
    font-weight: bold;
    animation-name: pulse-grow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    text-shadow: 3px 3px 4px #777;
}
@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.ajax-loader{
	position: absolute;
	top: 0;
	left: 63%;
	transform-origin: 50% 50%;
	transform: rotate(90deg) translate(-50%, 0%);
	font-size: 2vh;
	width: 2vw;
	height: 6vw;
	color: #d31145;

	.paw{
		width: 2vw;
		height: 2vw;
		animation: 3050ms pawAnimation ease-in-out infinite;
		opacity: 0;
		
		svg{
			width: 100%;
			height: 100%;
		}
		
		.icon{
			fill: currentColor;
		}

		&:nth-child(odd){
			transform: rotate(-10deg);
		}

		&:nth-child(even){
			transform: rotate(10deg) translate(190%, 0);
		}

		@for $i from 1 through 10{
            &:nth-child(#{$i}){
            	animation-delay: #{ (($i * -1)+11)*0.25 }s;
            }
        }

        .no-cssanimations &{
        	opacity: 1;
        }
	}
}

@keyframes pawAnimation {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
.mail-box-main {
	position: relative;
    padding-left: 44px;
    min-height: 35px;
	padding-top: 6px;
	span {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		border: 1px solid #ccc;
		img {
			max-width: 100%;
		}
	}
}
#content #user-rain div{
    position: fixed;
    bottom: 0;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: rgba(29, 218, 175, 1);
    animation-name: rain;
    animation-duration: 8s;
    animation-iteration-count: 1;
}
@keyframes rain {
    0% {
        bottom: 100vh;
        animation-timing-function: ease-in;
    }
    10% {
        height: 7.4vw;
        width: 8.6vw;
        bottom: 0;
        animation-timing-function: ease-out;
    }
    20% {
        height: 8vw;
        width: 8vw;
        bottom: 50vh;
        animation-timing-function: ease-in;
    }
    30% {
        height: 7.5vw;
        width: 8.5vw;
        bottom: 0;
        animation-timing-function: ease-out;
    }
    40% {
        height: 8vw;
        width: 8vw;
        bottom: 35vh;
        animation-timing-function: ease-in;
    }
    50% {
        height: 7.6vw;
        width: 8.4vw;
        bottom: 0;
        animation-timing-function: ease-out;
    }
    60% {
        height: 8vw;
        width: 8vw;
        bottom: 10vh;
        animation-timing-function: ease-in;
    }
    68% {
        height: 7.7vw;
        width: 8.3vw;
        bottom: 0;
        animation-timing-function: ease-out;
    }
    76% {
        height: 8vw;
        width: 8vw;
        bottom: 7.5vh;
        animation-timing-function: ease-in;
    }
    84% {
        height: 7.8vw;
        width: 8.2vw;
        bottom: 0;
        animation-timing-function: ease-out;
    }
    92% {
        height: 8vw;
        width: 8vw;
        bottom: 5vh;
        animation-timing-function: ease-in;
    }
    100% {
        height: 7.9vw;
        width: 8.1vw;
        bottom: 0;
        animation-timing-function: ease-out;
    }
  }

#content #user-rain img {
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    height: 90%;
    width: 90%;
}
