<div class="switch-box switch-box-vt" id="switch">
	<label class="switch">
		<input type="checkbox" id="start" value="rate" name="play">
		<span class="slider round"></span>
	</label>
	<p class="text-for-switch" id=''>Ich möchte selbst nicht pitchen, sondern nur bewerten</p>
</div>