<section id="content">
    <div class="head">
        Das war
    </div>
    <div class="middle">
        <%= image_tag @user.avatar.quad330.url, class: 'mid-img green' %>
    </div>
    <div class="bottom">
        eine tolle Runde!
    </div>
</section>
