<%= image_tag 'game/choose.png', class: 'bg-image' %> 
<div id="redirect">
    <%= render partial: 'state' %>
</div>

<script>
    $(document).ready(
        function() {
            setInterval(function() {
                if($('#redirect').text().trim() == 'choose') {
                    $('#redirect').load('choose #redirect');
                } else {
                    window.location.replace('<%= gmu_turn_path %>');
                }
            }, 2000)
        }
    );
</script>