<div class="nunito-regular landing-page-content">
    <h1>Bis später, Peter!</h1>
    <div class="logo-container">
        <%= image_tag ("logo-new.png") , alt:"IMG"%>
    </div>
</div>

<style>
    .landing-page-content {
        height: 100vh;
        background: linear-gradient(#1dacf1 0%, #1a8ed6 51%, #145daa 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .landing-page-content img {
        width: 45vh;
    }
</style>