<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">In welcher Firma <br> arbeitest du?</h1>
</div>
<%= form_for(:user, url: gmu_new_company_path, html: {autocomplete: 'off'}) do |f| %>
<div class="middle-form">
    <div class="row">
        <div class="col-12">
            <%= f.text_field :company_name, placeholder: 'Firma', class: 'form-field nunito-regular' %>
        </div>
    </div>
</div>
<div class="bottom">
    <%= f.submit 'weiter!', class: 'link pulse nunito-regular' %>
</div>
<% end %>
<script>
	window.removeEventListener('resize', checkOrientation);
</script>

