<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">
    <% if @cur_user == @user %>
        <%= @cur_user.fname %>, du pitcht!
    <% else %>
        <%= @cur_user.fname %> pitcht!
    <% end %>
    </h1>
</div>
<div class="middle">
    <%= image_tag @cur_user.avatar.quad.url || 'defaults/wolf.jpg', class: 'mid-img green pulse' %>
</div>
<script>
	checkOrientation();
 	window.addEventListener('resize', checkOrientation);
</script>