<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h1>
    <% if @cur_user == @user %>
        Du Pitcht!
    <% else %>
        <%= @cur_user.fname %> Pitcht!
    <% end %>
    </h1>
</div>
<div class="middle">
    <%= image_tag @cur_user.avatar.quad330.url || 'defaults/wolf.jpg', class: 'mid-img green pulse' %>
</div>