<section id="content">
  <div class="head">
      <% if @cur_user == @user %>
          Du Pitcht!
      <% else %>
          <%= @cur_user.fname %> Pitcht!
      <% end %>
  </div>
  <div class="middle">
      <%= image_tag @cur_user.avatar.quad330.url || 'defaults/wolf.jpg', class: 'mid-img green' %>
  </div>
</section>