<div class="head">
      <%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
    <h1>Hier ist die Bewertung!</h1>
</div>
<div class="middle">
    <%= image_tag @cur_user.avatar.quad330.url || 'defaults/wolf.jpg', class: 'mid-img green' %>
</div>
