<div class="head">
    <%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
    <h1>SPIEL BEIGETRETEN!</h1>
</div>
<div class="middle">
    <%if @user.avatar.quad.url%>
        <%= image_tag @user.avatar.url, class: 'mid-img green pulse' %>
    <%else%>
        <%= image_tag 'logo.png', class: 'mid-img green pulse' %>
    <%end%>
</div>

<div class="bottom">
    Gleich geht's los...
</div>