<section id="content">
    <div class="head">
        SPIEL BEIGETRETEN!
    </div>
    <div class="middle">
    <%if @user.avatar.quad.url%>
       <%= image_tag @user.avatar.url, class: 'mid-img green' %>
      <%else%>
       <%= image_tag 'logo.png', class: 'mid-img green' %>
      <%end%>
    </div>
    <div class="bottom">
        Gleich geht's los...
    </div>
</section>
