<section id="content">
    <div class="head">
        SPIEL BEIGETRETEN!
    </div>
    <div class="middle">
        <%= image_tag @user.avatar.quad.url || 'mobile/wolf.png', class: 'mid-img green' %>
    </div>
    <div class="bottom">
        Gleich geht's los...
    </div>
</section>