<section id="content">
    <div class="head">
      <%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>

      <div>  SPIEL BEIGETRETEN! </div>
    </div>
    <div class="middle">
    <%if @user.avatar.quad.url%>
       <%= image_tag @user.avatar.url, class: 'mid-img green' %>
      <%else%>
       <%= image_tag 'logo.png', class: 'mid-img green' %>
      <%end%>
    </div>
    <div class="bottom">
        Gleich geht's los...
    </div>
    
<% if @game %>
  <div id='game_channel' data-game-id="<%= @game.id %>"></div>
<% end %>
</section>
