<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h3>- Wilkommen im Spielraum -</h3>
    <h1><%= @game1.team.name %></h1>
</div>
<div class="middle">
    <%= image_tag 'defaults/wolf-white.png', class: 'mid-img' %>
</div>
<div class="bottom">
    <%= link_to "Auf geht's!", gmu_password_path, class: 'link' %>
</div>
