#content .nt_form {
    position: relative;
    top: calc(50vh - 270px);
    left: 0;
    width: 100%;
}
#content .nt_form .row1 {
    position: relative;
    left: 0;
    width: 100%;
    text-align: center;
}
#content .nt_form input[type=radio]:checked ~ .custom-text {
    background-color: #0dff92;
}
#content .nt_form input[type=radio]:unchecked ~ .custom-text {
    background-color: lightgrey;
}
#content .nt_form input[type='radio'] {
    visibility: hidden;
}

#content .nt_form .row1 .custom-text {
    background-color: white;
    color: #3890b6;
}

#content .nt_form .row {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 360px) and (min-height: 800px) {
   
    #content .nt_form .row1 {
        height: 220px;
        line-height: 220px;
    }
    #content .nt_form .row1 .custom-text {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 50px;
        border-radius: 45px;
    }
    #content .nt_form .row {
        height: 100px;
        line-height: 100px;
        font-size: 50px;
    }
}
