#gm .pic_top1 {
    position: absolute;
    top: 0;
    left: 5%;
    height: 100px;
    width: 90%;
    line-height: 100px;
    color: white;
    text-align: center;
    font-size: 50px;
}
#gm .pic_top2 {
    position: absolute;
    top: 100px;
    left: 5%;
    height: 50px;
    width: 90%;
    line-height: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
}

#gm .pic_mid {
    position: absolute;
    top: calc( 50% - 150px );
    left: calc( 50% - 150px );
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #25aae1;
    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.5);
}
#gm .pic_mid #user_pic img {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    cursor: pointer;
}
#gm .pic_mid .add {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#gm .pic_mid input[type='file'],
#gm .pic_mid input[type='submit'] {
    display: none;
}
