.row_1 {
    position: relative;
    top: 5vh;
    left: 5vw;
    width: 80vw;
    height: 5vh;
}
.row_2 {
    position: relative;
    top: 5vh;
    left: 5vw;
    width: 80vw;
    height: 13vh;
}
.row_2 > label {
    line-height: 13vh;
}
.row_2 > img{
    position: absolute;
    left: calc(17vw - 5.5vh);
    top: 1vh;
    height: 11vh;
    width: 11vh;
}
.row_2 > #ava_pic {
    border-radius: 50%;
}
.submit-line {
    position: absolute;
    top: 13.5vh;
    height: 5vh;
    left: 7vw;
    width: 20vw;
    text-align: center;
}
#submit-label {
    position: absolute;
    left: calc(18vw + 5.5vh);
    line-height: 13vh;
    margin-bottom: 0;
    color: #1ddaaf;
    font-size: 2.5vh;
    cursor: pointer;
}
.form-label {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 5vh;
    width: 5vw;
    height: 5vh;
    font-size: 2vh;
}
.account-form-field {
    position: absolute;
    top: 1vh;
    line-height: 3vh;
    height: 3vh;
    border-radius: 1.5vh;
    background-color: white;
    color: black;
    font-size: 2vh;
    border: 2px solid white;
    padding-left: 3vh;
    padding-right: 3vh;
}
.account-form-field:focus {
    border: 1px solid #1ddaaf;
}
.p1 {
    left: 7vw;
    width: 20vw;
}
.p2 {
    left: 29vw;
    width: 20vw;
}
.p3_1 {
    left: 29vw;
    width: 9vw;
    
}
.p3_2 {
    left: 40vw;
    width: 9vw;
}


input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
#base_line {
    position: absolute;
    bottom: 6vh;
    height: 10vh;
    left: 12vw;
    width: 42vw;
    text-align: center;
}
.form-submit {
    top: 1vh;
    line-height: 4vh;
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
    color: white;
    border-radius: 2vh;
    border: 2px solid #1ddaaf;
    background-color: #1ddaaf;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 .25rem .25rem 0 rgba(0,0,0,0.1);
}

.form-submit:hover {
    transform: translateY(-1px);
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.1);
}
input[type=file] {
    display: none;
}