.account {
    position: relative;
    margin: auto;
    height: 71.8vh;
    width: 82.5vh;
}
.account .img-upload img#avatar {
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	border: .5vh solid gray;
}
.account .img-upload .poligon {
    background-image: image-url('polygon.companylogo.png');
    width: 100px;
    height: 100px;
    background-size: 100px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.account .img-upload .poligon img{
	height: auto;
	max-height: 40px;
	width: 50px;
	border-radius: 0;
}
.account .img-upload input[type='file'] {
	display: none;
}
.popup {
    display: none;
    position: absolute;
    left: calc(50% - 500px);
    top: calc(50% - 450px);
    height: 750px;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0 rgba(172, 172, 172, 0.1);
    padding: 40px;
    z-index: 100;
}
.popup .img-container {
	height: 600px;
	width: 900px;
	margin: 0 auto;
}
.popup .form-group.center {
	margin: auto 0;
	height: 10vh;
	line-height: 10vh;
	text-align: center;
}
.popup .close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    line-height: 50px;
    width: 50px;
    color: #6e6e6e;
    font-size: 30px;
    text-align: center;
}