/*
 *= require dash/account
 *= require dash/teams
 *= require dash/games
 *= require dash/users
 *= require dash/stats
 *= require perfect-scrollbar
 *= require cs-select/cs-select
 *= require cs-select/cs-skin-underline
 *= require omnes
 *= require barack
 *= require bootstrap-tagsinput.css
 *= require dash/jquery.dataTables.min
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import 'font-awesome';
@import "social-share-button";
a.remove{
  display: none;
}


#shareModal {
    position: fixed;
    display: none;
    top: 22vh;
    left: 32vh;
    height: 58%;
    width: 46%;
    background-color: white;
    color: #3e91da;
    margin-left: 200px;
    border-radius: 50px;
    border: 3px solid #17a1e0;
    padding: 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
#shareModal .header {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    font-size: 2.5vh;
    text-align: center;
    font-family: 'BarackPro-Solid';
}
#shareModal #close {
    position: absolute;
    top: 2vh;
    right: 1.5vh;
    font-size: 5vh;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 white;
    padding: none;
    cursor: pointer;
    z-index: 10000;
    color: #3e91da;
}
#shareModal{
  z-index: 10392093;
}
#shareModal .links1 {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
}
#shareModal .links2 {
    position: absolute;
    top: 30vh;
    left: 0;
    width: 100%;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
}
#shareModal .ssb-icon {
    height: 10vw;
    width: 10vw;
    background-size: 10vw 10vw;
}
.ssb-twitter {
    background-image: image-url('social_share/twitter.png') !important;
}
.ssb-linkedin {
    background-image: image-url('social_share/linkedin.png') !important;
}
.ssb-Xing {
    background-image: image-url('social_share/xing.png') !important;
}
.ssb-whatsapp_app {
    background-image: image-url('social_share/whatsapp.png') !important;
}
.ssb-facebook {
    background-image: image-url('social_share/facebook.png') !important;
}
.bottom > .pol-bg {
    background-color: transparent;
    background-image: image-url('social_share/polygon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 99px 100px !important;
    border-radius: 0;
    font-size: 4vh;
    padding: 50px 80px 50px 80px;
    -webkit-appearance: none;
}
.bottom > .pol-bg > i {
    color: #3e91da;
}
body {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-family: 'Omnes';
    -webkit-backface-visibility: none; /*fix chrome bug*/

    color: black;
    background-color: #ededed;
    margin: 0;
}

#navbar {
    position: fixed;
    left: 10vw;
    top: 0;
    width: 90vw;
    height: 8vh;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.1);
    background-color: white;
    padding-left: 2vw;
    line-height: 8vh;
    font-size: 2.5vh;
    padding-left: 5vw;
}

.section {
  -webkit-transform: scale(1);
  -webkit-transition: all linear 0.5s 0;
}

.modal-open #content {
  -webkit-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
  
}
.alert {
    position: fixed;
    top: 8vh;
    left: 10vw;
    width: 90vw;
    background-color: rgba(210, 240, 240, 0.8);
    border: none;
    color: #2887b7;
    font-size: 2vh;
    line-height: 4vh;
}
.dropdown {
    line-height: 8vh;
    position: fixed;
    right: 2vw;
    top: 0;
    height: 8vh;
    width: 8vh;
    background-color: transparent;
    border: none;
    z-index: 100;
}
.btn {
    border: none;
    transition: none;
    white-space: nowrap;
}
.btn:focus {
    box-shadow: none;
}
.dropdown-toggle::after {
    width: 0;
    height: 0;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-menu > a {
    height: 6vh;
    line-height: 6vh;
    width: 100%;
    z-index: 1000;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown img {
    position: relative;
    left: 0;
    top: 0;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
}

.dropdown-menu .red {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: none;
}
.dropdown-item:active,
.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: black;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 10vw;
    background: linear-gradient(#1dacf1 0%, #1a8ed6 51%, #145daa 100%);
    color: white;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.5);
}
#sidebar img {
    position: relative;
    top: 5vh;
    height: 14vh;
    left: calc(5vw - 7vh);
    width: 14vh;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.5);
}
#sidebar .links {
    position: relative;
    top: 10vh;
    left: 0;
    height: 30vh;
    width: 10vw;
}
#sidebar .links > .link {
    position: relative;
    top: 0;
    left: 0;
    height: 5vh;
    width: 10vw;
    line-height: 5vh;
    cursor: pointer;
}
#sidebar .links a {
    position: absolute;
    left: 0;
    top: 0;
    height: 5vh;
    width: 10vw;
    color: white;
    text-decoration: none;
    line-height: 5vh;
    font-size: 2vh;
    text-align: center;
}
#sidebar .links a:hover,
#sidebar .links a:focus,        
#sidebar .links .active {
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
}

#content {
    position: fixed;
    left: 10vw;
    top: 10vh;
    height: 90vh;
    width: 90vw;
}
:focus {
    outline:none !important;
}
.btn {
    border-radius: 50px;
}























 /*
	=====================================================
	Card
	=====================================================
	*/


	.StripeElement {
		box-sizing: border-box;
	  
		height: 40px;
	  
		padding: 10px 12px;
	  
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: white;
	  
		box-shadow: 0 1px 3px 0 #e6ebf1;
		-webkit-transition: box-shadow 150ms ease;
		transition: box-shadow 150ms ease;
	  }
	  
	  .StripeElement--focus {
		box-shadow: 0 1px 3px 0 #cfd7df;
	  }
	  
	  .StripeElement--invalid {
		border-color: #fa755a;
	  }
	  
	  .StripeElement--webkit-autofill {
		background-color: #fefde5 !important;
	  }
	  .card-element .form-control {
		  border: none;
          border-radius: 0;
          min-height: 44px;
          font-weight: 600;
          line-height: 28px;
          padding: 0.6rem 1rem;
      }
      .card-element .form-control:focus {
          outline: none;
          box-shadow: none;
      }
      .payment-form label {
          width: 100%;
          display: inline-block;
          margin-bottom: 16px;
      }
      .btn-green {
        margin-left: 20px;
        background-color: #1ddaaf !important;
        color: #fff !important;
        border: 1px solid #1ddaaf !important;
        min-height: 44px;
        min-width: 170px;
        color: #fff;
        font-size: 1.125rem;
        background-color: #1ddaaf !important;
        border-radius: 22px !important;
        padding: .55rem 1rem .25rem 1rem;
        -webkit-box-shadow: 0 9px 18px rgba(0,0,0,0.17);
        -moz-box-shadow: 0 9px 18px rgba(0,0,0,0.17);
        box-shadow: 0 9px 18px rgba(0,0,0,0.17);
    }
    .ce-card-no span {
        position: absolute;
        left: 20px;
        top: 9px;
    }
    .ce-card-no .form-control {
        border-radius: 22px 0px 0px 22px;
        padding-left: 56px;
        min-width: 260px;
    }
    .ce-date .form-control,
    .ce-cvc .form-control {
        width: 84px;
        text-align: center;
    }
    .ce-date input:first-child {
        padding: 0.6rem 0;
        width: 26px;
    }
    .ce-date input:last-child {
        padding: 0.6rem 0;
        width: 48px;
    }
    .ce-cvc .form-control {
        border-radius: 0px 22px 22px 0px;
    }
    .btn-green:hover,
    .btn-green:focus {
        color: #1ddaaf !important;
        border-color: #1ddaaf !important;
        background-color: transparent !important;
    }
    .tableCard-container {
        max-height: 530px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 30px;
        max-width: 960px;
        margin: 0 auto;
    }
    .accordion {
        .card-billing {
            border: none;
            background-color: transparent;
            .card-header {
                padding: 0;
                border: none;
                background-color: transparent;
                .btn-link {
                    img {
                        width: 36px;
                    }    
                }
            }
        }
    }
    .payment-content {
        background-color: #fff;
        border: 1px solid #1ddaaf;
        box-shadow: 0px 0px 18px rgba(0,0,0,0.17);
        padding: 20px;
        .payment-block {
            border-bottom: 1px solid #ccc;
            padding: 16px 5px;
            span {
                font-weight: 600;
                margin-right: 12px;
            }
            &:last-child {
                border-bottom: none;
            }
            .badge-pill {
                width: 20px;
                height: 10px;
                display: inline-block;
            }
            .badge-success {
                background-color: #1ddaaf;
            }
        }
    }
    .cn-row {
        .cn-stars {
            line-height: 13px;
            padding-top: 8px;
        }
    }
    .edit_card {
        input[type="checkbox"] {
            position: relative;
            top: 2px;
        }
    }
    .btn-green.btn-card-update {
        padding: .25rem 1rem .25rem 0.75rem;
        min-height: 30px;
        min-width: 80px;
        margin-left: 10px;
        font-size: 1rem;
    }
    .btn-card-update.btn-grey {
        background-color: #6c757d !important;
        border-color: #6c757d !important;
    }
	  
    /*
	=====================================================
	Card
	=====================================================
    */
    .overlay{
        position:fixed;
        z-index:999;
        width:100%;
        height:100%;
        background-color: black;
        background-color:rgba(0,0,0,.75)
    }
    
    .popup{
        width:300px;
        position:absolute;
        left:50%;
        top:100px;
        margin-left:-150px;
    }   


.register-page {
	background-image: linear-gradient(to right, rgba(29, 164, 236, 0.57), rgba(21, 121, 196, 0.57));
}
.form-heading {
	text-align: center;
	color: #fff;
	font-family: 'Barack-Medium';
}
.form-main-canvas label {
	font-size: 1.25rem;
	color: #fff;
	font-family: 'Barack-Medium';
	padding: 0 10px;
}
.form-main-canvas .form-control {
	height: 60px;
	background-color: transparent;
	font-size: 1.25rem;
	border: 2px solid #cdcdcd;
	color: #fff;
	font-family: 'Barack-Medium';
	border-radius: 26px;
	padding: 1rem 1.5rem;
}
.form-main-canvas .form-group {
	margin-bottom: 1.75rem;
}
.form-main-canvas .btn-green {
	min-height: 60px;
	border-radius: 26px !important;
	font-size: 1.15rem;
	font-family: 'Barack-Medium';
	padding: 0.75rem 1rem;
}
.register-page .register-container {
	max-width: 520px;
}
.offer-block {
  margin-top: 40px;
  .offer-box {
    box-shadow: 0 0 24px rgba(0,0,0,0.17);
    border: 1px solid #1ddaaf;
    .offer-box-head {
      padding: 24px 16px;
      background-color: #1ddaaf;
      h2 {
        font-size: 1.875rem;
        color: #fff;
        margin: 0;
      }
    }
    .offer-box-detail {
      padding: 2.5rem 2.4rem;
      .price-content {
        h2 {
          font-size: 1.875rem;
          color: #1ddaaf;
          font-weight: 700;
        }
        p {
          font-size: 0.8125rem;
          color: #d4d4d4;
        }
      }
    }
  }
  .pro-radiobtn-block {
    margin-bottom: 1rem;
    label {
      color: #8f9091;
      input {
        margin-left: 4px;
      }
    }
  }
  .team-form-control.form-control {
    min-height: 64px;
    border-radius: 50px;
    padding: 1.35rem 1rem 1.2rem 1rem;
    background-color: #f1f1f1;
    font-size: 1.25rem;
    color: #495057;
    line-height: 32px;
  }
}
.green-list {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding-left: 34px;
    font-size: 0.8125rem;
    color: #8f9091;
    position: relative;
    margin-bottom: 24px;
    &:before {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 20px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 4px;
      background-color: #1ddaaf;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
#content {
  overflow-y: auto;
}





/*
=====================================================
modal
=====================================================
*/

.backgroundblur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.modal-games {
    position: fixed;
    display: none;
    top: calc((50vh - 250px) + 8vh);
    left: calc(50vw - 250px);
    z-index: 100000;
    width: 500px;
    border-radius: 50px;
}
.blue{
    position: fixed;
    display: none;
    top: calc((50vh - 250px) + 8vh);
    left: calc(50vw - 250px);
    z-index: 100000;
    width: 800px;
    border-radius: 50px;
}
.modal-games .modal-close{
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 37px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #1ddaaf;
  color: #1ddaaf;
  background-color: white;
  opacity: 1;
  z-index: 1000000;
}
.blue .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 37px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #1ddaaf;
    color: #1ddaaf;
    background-color: white;
    opacity: 1;
    z-index: 1000000;
}
.modal-games .modal-close:hover{
    background-color: transparent;
    opacity: 1;
    z-index: 1000000;
}
 .blue .modal-close:hover {
    background-color: transparent;
    opacity: 1;
    z-index: 1000000;
}
.modal-games .modal-dialog{
    margin: 0 !important;
    align-content: center;
}
.blue .modal-dialog {
    margin: 0 !important;
    align-content: center;
}

.modal-games .modal-content,
.modal-teams .modal-content {
  background-color: #1dabf1;
  background-image: linear-gradient(to right, rgba(29, 171, 241, 0.57), rgba(17, 82, 160, 0.57));
  border: none;
  border-radius: 50px;
  min-height: 280px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.blue .modal-content{
  background-color: #1dabf1;
  background-image: linear-gradient(to right, rgba(29, 171, 241, 0.57), rgba(17, 82, 160, 0.57));
  border: none;
  width: 640px;
  border-radius: 50px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.modal-games .modal-content .form-control,
.modal-teams .modal-content .form-control,
.blue .modal-content .form-control {
    border-radius: 1.5em;
}
.modal-games .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;    
} 
.blue .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-teams .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-teams .modal-body h1 {
    color: #fff;
    font-size: 1.5rem;
    font-family: Barack-Medium;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 0;
    text-align: center;
}
.modal-games .modal-body h1 {
    padding-top: 50px;
    color: #fff;
    font-size: 1rem;
    font-family: Barack-Medium;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 0;
    text-align: center;
}
.blue .modal-body h1 {
    padding-top: 50px;
    color: #fff;
    font-size: 1rem;
    font-family: Barack-Medium;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 0;
    text-align: center;
}
.modal-games .modal-body h1 span{
    font-size: 1.5rem;
}
.blue .modal-body h1 span {
    font-size: 1.5rem;
}

/*
=====================================================
modal
=====================================================
*/

  
.blue .modal-content{
  border-radius: 20px
}
.blue{
  color: white;
  text-align: center;
}
  
  
  



.table-scroll {
  height: 21vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.table-scroll-live {
  padding-right: 23px;
  margin-right: -30px;
}
.table-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 8px;
}
.table-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fff;
  height: 40px;
}

.t-overflow::-webkit-scrollbar {
  height: 1px;
  width: 1px;
  border: 1px solid transparent;
}
.content-tm {
  position: absolute;
  bottom: 2.8vh;
  right: 0;
  left: 0;
}
.content-tm .bottom {
  height: 9vh;
  line-height: 4vh;
}
.content-tm .bottom > .pol-bg {
  padding: 0 10px;
  background-image: none;
}
.content-tm .bottom > .pol-bg img {
  width: 8vh;
}
.places-ratings {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 12vh;
    right: 0;
    min-width: 20vh;
    li {
        color: #bdbdbd;
        list-style: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #dcdcdc;
        min-height: 3.5vh;
        &:last-child {
          border-bottom: 0;
        }
        div {
          padding: 1px 4px;
          line-height: 3vh;
          font-size: 2.5vh;
        }
        .rating-d {
          border-left: 2px solid #dcdcdc;
          width: 6vh;
          min-width: 6vh;
          text-align: right;
        }
        .rating-c {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          max-width: 22vh;
        }
        img {
          position: absolute;
          left: -5vh;
          top: 3vh;
          width: 4vh;
          height: 4vh;
        }
    }
    li.current {
      color: #1ddaaf;
    }
}
#dash_stats {
    .compare {
        bottom: -2.5vh;
    }
}
.blue-places {
  top: calc((50vh - 217px) + 8vh);
  left: calc(50vw - 298px);
  .modal-dialog {
    width: 100%;
    max-width: 756px;
    .modal-content {
      width: 100%;
    }
  }
}
.teamV-modal.modal {
  width: 100%;
  top: 17vh;
  left: 14vh;
}
.teamV-modal.modal .modal-dialog {
  margin: 1.75rem auto !important;
  max-width: 96vh;
  display: flex;
  align-items: center;
}
.teamV-modal.modal .modal-content {
  width: 100%;
}
.teamV-modal.modal .modal-close {
  line-height: 5.8vh;
  height: 4vh;
  width: 4vh;
  font-size: 3vh;
  font-weight: 300;
  top: 2vh;
  right: 2vh;
  border: 1px solid #1ddaaf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-overflow {
  overflow-x: auto;
  overflow-y: hidden;
}
#list-table{
    height: 58vh;
    font-size: 30px;
    border-radius: 20px;
    padding: 6vh 14vh 6vh 9.5vh;
    position: relative;
    h1 {
      position: relative;
      padding-bottom: 0.75rem;
      font-weight: 700;
      font-size: 3.4vh;
      margin-bottom: 2rem;
      &:before {
        content: '';
        background-color: rgba(255,255,255,0.5);
        border-radius: 6px 6px 0px 0px;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
      }
      &:after {
        content: '';
        background-color: rgba(255,255,255,0.5);
        border-radius: 0px 0px 6px 6px;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
      }
    }
    .table-canvas {
      table {
      width: 100%;
        tr {
          th,
          td {
            padding: 2px 5px;
            border-bottom: 1px solid #fff;
            vertical-align: middle;
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6) {
              width: 65px;
            }
            &:nth-of-type(7),
            &:nth-of-type(8),
            &:nth-of-type(9) {
              width: 28px;
              padding-left: 1px;
              padding-right: 1px;
            }
            span {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        } 
        tr {
          th {
            font-size: 2.2vh;
            line-height: 3vh;
            height: auto;
            &:first-child {
              border-bottom: 0;
              min-width: 90px;
            }
          }
        }
        tr {
          td {
            font-size: 2.2vh;
            line-height: 3vh;
            font-weight: 700;
            &:first-child {
              text-align: left;
              min-width: 90px;
            }
          }
        }
      }
    }
}
.userEdit-modal.modal {
  top: 0;
  .modal-dialog {
    max-width: 100vh;
    min-height: calc(100% - 3.2rem);
    #list-table {
      height: auto;
      padding: 3vh 16vh;
      h1 {
        margin-bottom: 2.5vh;
      }
    }
  }
}
.user-profile {
  .user-profile-img {
    width: 15vh;
    height: 15vh;
    position: relative;
    margin: 0 auto;
    .up-img {
      width: 15vh;
      height: 15vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      img {
        max-width: 100%;
      }
    }
    .user-profile-up {
      position: absolute;
      right: 0;
      bottom: 1vh;
      input {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 4vh;
        height: 4vh;
        opacity: 0;
        cursor: pointer;
        display: flex;
      }
    }
  }
}
.plus-p {
  height: 4vh;
  width: 4vh;
  font-size: 5vh;
  font-weight: 300;
  top: 2vh;
  right: 2vh;
  border: 1px solid #1ddaaf;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  color: #1ddaaf;
  padding-left: 1px;
  padding-top: 2px;
}
.form-block {
  margin-top: 2vh;
  .form-group {
    margin-bottom: 0;
    line-height: 2vh;
    label {
      font-size: 2vh;
      text-align: left;
      width: 100%;
      padding-left: 3vh;
      font-weight: 600;
      margin-bottom: 0.5vh;
    }
    input {
      padding: 1vh 3vh;
      border-radius: 40px;
      color: #000;
      font-weight: 600;
      height: 6.36vh;
      font-size: 2.4vh; 
    }
  }
}
.teams-block {
  margin-top: 2.6vh;
  margin-bottom: 6vh;
  display: inline-block;
  width: 100%;
  .bootstrapTag-group {
    margin-bottom: 0;
    line-height: 3vh;
    label {
      font-size: 2.4vh;
      text-align: left;
      width: 100%;
      padding-left: 3vh;
      font-weight: 700;
      margin-bottom: 0;
    }
    .bootstrap-tagsinput {
      background-color: transparent;
      border: none;
      box-shadow: none;
      width: auto;
      float: left;
      text-align: left;
      padding: 0vh 1vh;
      line-height: 5vh;
      input {
        background: asset-url('add.png');
        background-size: 4vh;
        cursor: pointer;
        height: 4vh !important;
        width: 4vh !important;
        font-size: 4.4vh;
        font-weight: 700;
        top: 0.6vh;
        right: 0;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #1ddaaf;
        padding: 3px;
        text-align: center;
        line-height: 1vh;
      }
    }
    .tag {
      margin-right: 2px;
      color: white;
      background-color: #1ddaaf;
      border-radius: 8px;
      padding: 0.8vh 0.8vh;
      line-height: 1vh;
      font-size: 2.4vh;
      font-weight: 700;
      span {
        color: #0f64af;
        font-size: 2.5vh;
        font-weight: 700;
        position: relative;
        top: 0px;
        margin-left: 3px;
      }
    }
  }
}
.bootstrap-tagsinput input::-webkit-input-placeholder { /* Edge */
  color: #1ddaaf;
}
.bootstrap-tagsinput input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #1ddaaf;
}
.bootstrap-tagsinput input::placeholder {
  color: #1ddaaf;
}
.btn-green.user-p-btn {
  padding: 1vh 1.4vh;
  border-radius: 40px !important;
  font-weight: 700;
  height: 5.36vh;
  font-size: 2.4vh;
  min-height: 1vh;
  min-width: 2vh;
}
.user-opt-det {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  cursor: pointer;
  img {
    width: 10vh;
  }
}

.selectize-dropdown {
  font-weight: 700;
  color: rgb(255, 255, 255);
  width: auto !important;
  display: inline-block;
  .selectize-dropdown-content {
    option {
      border: 1px solid #fff;
      border-radius: 8px;
      padding: 0 1.5vh;
      margin-top: 1.8vh;
      font-size: 2.4vh;
      min-height: 5.3vh;
      display: inline-block;
      margin-right: 0.3vh;
      &:hover {
        background-color: #1ddaaf;
        border-color: #1ddaaf;
        color: #fff;
      }
    }
  }
}
.selectize-input.items{
  input{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;      
  }
}
@media (max-width: 991px) {
  .teamV-modal.modal {
    left: 0vh;
  }
}

#chartjs-tooltip {
  background-color: rgb(255, 255, 255);
  width: 45vh;
  height: 46.8vh;
  border-radius: 24px;
  padding: 1.8vh 2.2vh !important;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.22);
  &:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -18px;
  margin: 0 auto;
  }
}
.progress-block {
  .progress-top {
    text-align: center;
    border-bottom: 0.5vh solid #f1f1f1;
    h6 {
      color: #d0d0d0;
      font-size: 1.6vh;
      margin-bottom: 0.5vh;
      font-weight: 700;
    }
    h3 {
      font-size: 3.5vh;
      color: #1ddaaf;
      font-weight: 700;
      margin-bottom: 0.5vh;
    }
  }
  #dash_stats {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    .rhetorik {
      position: static;
      height: auto;
      width: 33.33%;
      button {
        position: static;
        width: 8vh;
        height: 8vh;
        font-size: 3.4vh;
        border: 0.5vh solid rgba(28, 161, 222, 0.5);
        box-shadow: none;
      }
      .text {
        position: static;
        font-size: 1.4vh;
        width: auto;
        color: #bebebe;
        font-weight: 700;
        height: auto;
        line-height: 2vh;
        margin: 1vh 0vh 2vh 0vh;
      }
    }
    .rhetorik-ge {
      button {
        border: 0.5vh solid #77e9cf;
        background-color: #bcddef;
      }
    }
    .rhetorik-ts {
      button {
        border: 0.5vh solid #c2ff66;
        background-color: #bcddef;
      }
    }
    .rhetorik-mb {
      button {
        border: 0.5vh solid #a6ff7f;
        background-color: #c7e3f2;
      }
    }
  }
}
.progress-main {
  margin-top: 1.8vh;
  .progressBar {
    display: flex;
    margin-bottom: 1vh;
    .progress-bar-text {
      color: #bebebe;
      font-size: 2vh;
      font-weight: 700;
      margin-right: 2vh;
      min-width: 17.2vh;
      line-height: 2.6vh;
    }
    .progress-bar-pop {
      width: 100%;
      .progress-bar-con {
        display: flex;
        align-items: center;
        margin-bottom: 0.6vh;
        .progress-bar-value {
          font-size: 1.7vh;
          margin-bottom: 0;
          font-weight: 700;
          min-width: 4vh;
          text-align: right;
          line-height: 1.8vh;
        }
        .progressbar-view {
          height: 1.6vh;
          width: 100%;
          display: inline-block;
          position: relative;
          border-radius: 10px;
          background-color: #f1f1f1;
          .progressbar-fill {
            display: inline-block;
            height: 1.6vh;
            border-radius: 10px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
          }
        }
      }
      .progress-con-t {
        .progressbar-view {
          .progressbar-fill {
            background-color: #8fc7e5;
          }
        }
        .progress-bar-value {
          color: #d0d0d0;
        }
      }
      .progress-con-b {
        .progressbar-view {
          .progressbar-fill {
            background-color: #c0dceb;
          }
        }
        .progress-bar-value {
          color: #d9d9d9;
        }
      }
    }
  }
}
.dash_stats-head {
  .head {
    width: 100%;
    display: flex;
    justify-content: center;
    .compare-selects {
      position: static;
      width: auto;
      width: auto;
      .cs-select {
        width: 21vh;
        top: 0;
        margin: 0 0.5vh;
      }
    }
  }
}
.catchword-modal.modal {
  left: 14vh;
  top: 0;
  width: 100%;
  .modal-dialog {
    margin: 1.75rem auto !important;
    display: flex;
    align-items: center;
    max-width: 92vh;
    min-height: calc(100% - 3.2rem);
    .modal-content {
      width: 100%;
    }
    .modal-close {
      width: 5vh;
      height: 5vh;
      font-size: 3vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  #list-table {
  padding: 3vh 17vh 1.6vh 17vh !important;
    h1 {
      font-size: 4.2vh;
      paddin-bottom: 1.5vh;
    }
    .btn-green.user-p-btn {
      padding: 0.7vh 1.4vh;
      height: 4.36vh;
      font-size: 2vh;
    }
  }
}
.catchword-profile {
  margin-top: 3.8vh;
  padding: 0 5.2vh 0 9.5vh;
  .form-group {
    padding-right: 6.2vh;
    margin: 0;
    input.form-control {
      border-radius: 20vh;
      height: 4.8vh;
      font-size: 2.6vh;
      font-weight: 700;
      color: #9a9a9a;
    }
    button.btn-green-plus {
      position: absolute;
      top: 0;
      right: 0;
      height: 4.8vh;
      width: 4.8vh;
      border-radius: 50%;
      border: 2px solid #1ddaaf;
      color: #fff;
      background-color: #1ddaaf;
      font-size: 2.6vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.catchword-block {
  background-color: #fff;
  border-radius: 24px;
  padding: 1vh 1.5vh;
  margin-top: 2.6vh;
  margin-bottom: 1.6vh;
  height: 30vh;
  h5 {
    font-size: 2.4vh;
    font-weight: 700;
    color: #9a9a9a;
    text-align: center;
    margin: 0;
  }
  .catchword-block-inner {
    max-height: 24vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .catchword-list {
    padding: 0;
    margin: 0;
    li {
      padding-right: 4vh;
      color: #9a9a9a;
      font-size: 2vh;
      border-bottom: 1px solid #e6e6e6;
      list-style: none;
      position: relative;
      font-weight: 700;
      text-align: left;
      line-height: 2vh;
      padding-top: 1.4vh;
      .rounded-minus-linear {
        width: 1.6vh;
        height: 1.6vh;
        border-radius: 3vh;
        border: 1px solid #ababab;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0.5vh;
        top: 1vh;
        cursor: pointer;
        padding-left: 1px;
        overflow: hidden;
        i {
          color: #ff0000;
          font-size: 1vh;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
.rule-modal {
  left: 12vh;
  .modal-dialog {
    max-width: 83vh !important;
    #list-table {
      padding: 4vh 16vh;
      h1 {
        font-size: 4.2vh;
        font-weight: 400;
      }
    }
  }
  .teams-block {
    margin-top: 3vh;
    .bootstrapTag-group {
      .bootstrap-tagsinput {
        padding: 0;
        span.tag {
          border-radius: 10px;
          padding: 1.3vh 1.2vh;
          margin-bottom: 4px;
          display: inline-block;
          &:focus,
          &:active {
            background-color: #d4af36;
          }
        }
      }
      label {
        padding-left: 0;
        margin-bottom: 0.4vh;
      }
    }
  }
  .form-block {
    .form-group {
      label {
        padding-left: 0;
        font-size: 2.6vh;
        font-weight: 300;
        line-height: 3vh;
        margin-bottom: 2.4vh;
        margin-top: 1.4vh;
      }
    }
  }
  .radioBtn-canvas {
    display: flex;
    align-items: center;
    label {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    position: relative;
    width: auto !important;
    text-align: center;
    margin-right: 5vh;
      input {
        width: 11vh;
        height: 3.6vh;
        border-radius: 3vh;
        border: none;
        background-color: white;
        -webkit-appearance: none; 
        -moz-appearance: none;
        padding: 0.5vh 1vh;
      }
      input:checked {
        background-color: #1dd9ae;
        color: #fff;
      }
      span{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 2.6vh;
        color: #1dd9ae;
        font-weight: 500;
        margin: 0 auto;
        line-height: 4vh;
      }
      span.checked {
        color: #fff;
      }
    }
  }
  .btn-green {
    min-height: 28px;
    min-width: 10px;
    font-size: 2.2vh;
    padding: 0.6vh 1.5vh;
    line-height: 16px;
  }
}
.error{
  color: red !important; 
  border-color: red !important;
}

.error-border{
  border-color: red !important;
}


.switch-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6vh;
}
.switch-box p {    
  font-size: 2vh;
  color: #a7a7a7;
  line-height: 2vh;
  margin: 0;
  margin-left: 0.8vh;
  font-weight: 600;
}
.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 4.8vh;
  height: 2.38vh;
  margin: 0;
}
/* Hide default HTML checkbox */
.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6vh;
  background-color: transparent;
  border: 0.15vh solid #a7a7a7;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-box .slider:before {
  position: absolute;
  content: "";
  height: 2.1vh;
  width: 2.1vh;
  left: 0;
  bottom: 0;
  background-color: #a7a7a7;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-box input:checked + .slider {
  border-color: #1ddaa3;
}

.switch-box input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.switch-box input:checked + .slider:before {
  -webkit-transform: translateX(2.55vh);
  -ms-transform: translateX(2.55vh);
  transform: translateX(2.55vh);
  background-color: #1ddaa3;
}

/* Rounded sliders */
.switch-box .slider.round {
  border-radius: 34px;
}

.switch-box .slider.round:before {
  border-radius: 20vh;
}

.cs-select-set {
  background-color: transparent !important;
  border: none !important;
  width: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  .cs-placeholder {
    font-size: 2.6vh;
    &:after {
      content: '\25BE';
      color: #7d7d7d;
      font-size: 2.6vh;
    }
  }
}
.cs-select-left {
  .cs-placeholder {
    padding: 0 0 0 3vh;
    &:after {
      right: inherit;
      left: 0.5vh;
    }
  }
}
.cs-select-right {
  .cs-placeholder {
    padding: 0 3vh 0 0;
    font-weight: 500 !important;
    &:after {
      right: 0.5vh;
    }
  }
}
.green{
  color: #1ddaa3 !important;
}
.orange{  
  background-color: #d4af36 !important;
  color: #fff;
}
button.btn-green-plus.green-plus-se {
  position: absolute;
  bottom: 74.6vh;
  left: 45.8vw;
  height: 4.8vh;
  width: 4.8vh;
  border-radius: 50%;
  border: 2px solid #1ddaaf;
  color: #fff;
  background-color: #1ddaaf;
  font-size: 2.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videotool-canvas {    
  padding-left: 7vh;
  padding-right: 7vh;
  padding-top: 9vh;
}
.videotool-content {
  background-color: white;
  width: 49vh;
  height: 68vh;
  border-radius: 4vh;
  padding: 2.2vh;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.22);
  margin-right: 6.5vh;
  .progress-block {
    .progress-top {
      text-align: left;
      border-bottom: 0;
      h6 {
        font-size: 2.5vh;
      }
      h3 {
        font-size: 5.2vh;
        color: #1ddab0;
      }
    }
    #dash_stats {
      text-align: center;
      justify-content: center;
      margin-top: 3.6vh;
      .rhetorik.gesamt {
        position: static;
        left: 0;
        top: 0;
        width: auto;
        margin-left: 1.2vh;
        margin-right: 1.2vh;
        button {
          position: relative;
          left: inherit;
          top: inherit;
          border: 0.6vh solid #74f163;
          width: 9.41vh;
          height: 9.41vh;
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.18);
        }
        span {
          line-height: 9vh;
          font-size: 3.6vh;
          font-weight: 400;
        }
        .text {
          margin: 0.2vh 0vh 2vh 0vh;
          font-size: 2.2vh;
          color: #000;
          opacity: 0.4;
        }
      }
      .rhetorik.gesamt.active {
        button {
          border: 0.6vh solid #1ddab0;
        }
        .text {
          opacity: 0.64;
        }
      }
    }
    .progress-main {
      margin-top: 3vh;
      .progressBar {
        margin-bottom: 1.15vh;
        .progress-bar-pop {
          .progress-bar-con {
            .progressbar-view {
              height: 2vh;
              .progressbar-fill {
                height: 2vh;
              }
            }
            .progress-bar-value {
              min-width: 3vh;
            }
          }
        }
        .progress-bar-text {
          min-width: 14vh;
          font-size: 2.1vh;
        }
      }
    }
  }
}
.switch-box-vt {
  margin-top: 4.4vh;
}
.switch-box-vt .switch {
  width: 4.6vh;
  height: 1.8vh;
}
.switch-box-vt .slider:before {
  height: 1.5vh;
  width: 1.5vh;
}
.switch-box-vt input:checked + .slider:before {
  -webkit-transform: translateX(2.8vh);
  transform: translateX(2.8vh);
  background-color: #1ddab0;
}
.switch-box-vt input:checked + .slider {
  border-color: #1ddab0;
}
.switch-box-vt .text-for-switch {
  color: #1ddab0;
}
.videotool-content-video {
  padding: 1.4vh;
}
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51vh;
  border-radius: 3vh;
  overflow: hidden;
  margin-bottom: 3vh;
  video {
    float: left;
    height: 50.6vh;
    width: 68vh;
  }
}
.player-bar {
  position: relative;
  padding: 1vh 0;
  &:before {
    content: '';
    background-color: #d9dcdb;
    height: 0.323vh;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 1vh;
  }
  .player-bar-current {
    width: 3%;
    background-color: #1ddab0;
    height: 0.32vh;
    position: absolute;
    left: 0;
    top: 1vh;
    .player-cursor {
      width: 3.35vh;
      height: 1.756vh;
      background-color: #5eb4e2;
      position: absolute;
      right: -10px;
      bottom: -0.8vh;
      border-radius: 2vh;
      box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
      display: inline-block;
    }
  }
}
.video-time {
  margin-top: 0.6vh;
  font-size: 2vh;
  color: #1ddab0;
}
.video-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.6vh;
  a {
    margin: 0 0.8vh;
  }
  .stop-video {
    width: 4.4vh;
    height: 4.4vh;
    display: inline-block;
    background: image-url('stop-video.png') center center no-repeat;
    background-size: 4.4vh;
  }
  .play-video {
    width: 6.4vh;
    height: 6.4vh;
    z-index: 1000000;
    display: inline-block;
    background: image-url('play-video.png') center center no-repeat;
    background-size: 6.3vh;
  }
  .play-video.pause-video {
    background: image-url('pause-video.png') center center no-repeat;
    background-size: 6.3vh;
  }
  .edit-video {
    width: 4.4vh;
    height: 4.4vh;
    display: inline-block;
    background: image-url('edit-video.png') center center no-repeat;
    background-size: 4.4vh;
  }
}
.volume-on {
  width: 3vh;
  height: 3vh;
  display: inline-block;
  background: image-url('volume.png') center center no-repeat;
  text-indent: -9999999vh;
  background-size: 3vh;
  position: absolute;
  right: 0;
  bottom: 0.4vh;
}
.volume-on.volume-off {
  background: image-url('volume-mute.png') center center no-repeat;
  text-indent: -9999999vh;
  background-size: 3vh;
}
.videotool-comment {
  padding: 3vh 2.6vh;
  position: relative;
}
.videotool-comment .vc-top-scroll {
  height: 46vh;
  overflow-y: auto;
}
.vc-row {
  margin-bottom: 2.6vh;
}
.vc-row h5 {
  font-size: 2vh;
  margin: 0;
  font-weight: 500;
}
.vc-row p {
  font-size: 2vh;
  color: #a9a9a9;
  margin: 0;
  line-height: 2.6vh;
}
.vc-row.vcr-negative h5 {
  color: #e39999;
}
.vc-row.vcr-positive h5 {
  color: #1ddab0;
}
.vc-row.vcr-neutral h5 {
  color: #e4e36b;
}
.radio-label {
  display: block;
  position: relative;
  padding-left: 2.6vh;
  margin-bottom: 0;
  margin-left: 2.2vh;
  line-height: 2.6vh;
  cursor: pointer;
  font-size: 2.1vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-label .checkmark {
  position: absolute;
  top: 0.3vh;
  left: 0;
  height: 1.772vh;
  width: 1.772vh;
  background-color: transparent;
  border: 0.16vh solid transparent;
  border-radius: 50%;
}
.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio-positive {
  color: #1ddab0;
}
.radio-neutral {
  color: #e4e36b;
}
.radio-negative {
  color: #e39999;
}
.radio-positive .checkmark {
  border-color: #1ddab0;
}
.radio-neutral .checkmark {
  border-color: #e4e36b;
}
.radio-negative .checkmark {
  border-color: #e39999;
}
.radio-positive input:checked ~ .checkmark {
  background-color: #1ddab0;
}
.radio-neutral input:checked ~ .checkmark {
  background-color: #e4e36b;
}
.radio-negative input:checked ~ .checkmark {
  background-color: #e39999;
}
.radio-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-label input:checked ~ .checkmark:after {
  display: block;
}
.radio-label .checkmark:after {
  top: 0;
  left: 0;
  width: 1.772vh;
  height: 1.772vh;
  border-radius: 50%;
}
.vc-detail .vc-video-t {
  font-size: 3.4vh;
  color: #1ddab0;
  line-height: 3.6vh;
}
.vc-detail p {
  margin: 0;
  font-size: 2.1vh;
  color: #a9a9a9;
}
.vc-detail .com-plus-icon {
  background: image-url('plus-fill.png') center center no-repeat;
  background-size: 4.51vh;
  width: 4.51vh;
  height: 4.51vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2.2vh;
  margin: 0 auto;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
.vc-detail .com-plus-icon img {
  max-width: 100%;
}
.vc-detail {
  border-top: 0.323vh solid #d9dcdb;
  padding-top: 1.6vh;
  height: 17vh;
}
.vc-detail-comment {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}
.vc-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.video-overview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.overview-block .overview-block-heading {
  color: #4b4a4a;
  font-size: 2.8vh;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}
.overview-block .overviewBlock-video {
  position: relative;
  width: 26vh;
  height: 28vh;
  border-radius: 1.1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}
.overview-block .overviewBlock-video img {
  max-width: 100%;
  max-height: 100%;
}
.overview-block .overview-video-play {
  background: image-url('play-btn.png') center center no-repeat;
  background-size: 4.5vh;
  width: 4.5vh;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.5vh;
  top: 1.5vh;
  opacity: 0.35;
}
.overview-block .overview-video-play img {
  max-width: 100%;
  max-height: 100%;
}
.overview-block .ov-span {
  position: absolute;
  bottom: 1.5vh;
  color: #fff;
  font-size: 3vh;
  line-height: 3.4vh;
  font-weight: 500;
}
.overview-block .overview-video-rating {
  left: 1.25vh;
}
.overview-block .overview-video-time {
  right: 1.25vh;
}
.overview-block .overviewBlock-detail {
  padding: 1vh;
}
.overview-block .overviewBlock-detail h5,
.overview-block .overviewBlock-detail p {
  color: #4b4a4a;
  font-size: 2.3vh;
  font-weight: 500;
  margin: 0;
  line-height: 2.8vh;
}
.overview-block {
  margin-right: 8.5vh;
  margin-bottom: 3.2vh;
}
.overview-block:hover .overviewBlock-video {
  border-color: #66c1ef;
}
.overview-block:hover .overview-video-play {
  background: image-url('play-btn-green.png') center center no-repeat;
  background-size: 4.5vh;
}
.overview-block:hover .overview-block-heading,
.overview-block:hover .overviewBlock-detail h5,
.overview-block:hover .overviewBlock-detail p {
  font-weight: 600;
}
#dash_stats.dash-stats-set .stats_chart {
  width: 48vw;
  border-radius: 8.8vh 2.4vh 2.4vh 8.8vh;
}
#dash_stats.dash-stats-set  .compare {
  bottom: -3.8vh;
  right: inherit;
  left: 77vh;
}
.video-content {
  position: absolute;
  right: 0;
  top: 26vh;
  text-align: center;
  width: 23vh;
  z-index: 5;
}
.video-content h5 {
  line-height: 2.8vh;
  font-size: 2.5vh;
  font-weight: 500;
  color: #232323;
  margin-bottom: 0;
}
.video-content p {
  line-height: 2.2vh;
  font-size: 1.8vh;
  font-weight: 500;
  color: #b1b1b1;
  margin-bottom: 2.2vh;
}
.overview-block-n {
  margin-right: 0;
  margin-bottom: 1.6vh;
}
.overview-block-n .overviewBlock-video {
  width: 22vh;
  height: 24vh;
  margin: 0 auto;
  border-radius: 1vh;
}
.overview-block-n .ov-span {
  bottom: 1vh;
  font-size: 2.4vh;
  line-height: 2.6vh;
}
.overview-block-n .overview-video-rating {
  left: 1vh;
}
.overview-block-n .overview-video-time {
  right: 1vh;
}






