 /*
 *= require bootstrap.min
 *= require dash/forms
 *= require dash/cards
 *= require dash/lets_play
 *= require dash/users
 *= require dash/stats
 *= require dash/customize
 *= require dash/account
 *= require dash/video-tool
 *= require perfect-scrollbar
 *= require dropzone
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    background-color: #f4faff;
}
#navbar {
    position: fixed;
    left: 220px;
    top: 0;
    width: calc(100vw - 220px);
}
#navbar .dropdown {
    position: relative;
    right: 50px;
    top: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: right;
    cursor: pointer;
    z-index: 100;
}
#navbar .dropdown img {
    position: relative;
    top: 0px;
    right: 0;
    height: 100%;
}
.dropdown .rotated {
    transform: rotate(180deg);
}
.dropdown-content {
    display: none;
    position: fixed;
    top: 60px;
    right: 50px;
    height: auto;
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0 rgba(172, 172, 172, 0.1);
    padding: 0 10px;
}
.dropdown-content .link {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    border-bottom: solid 1px #dfe1e5;
    color: black;
}
.dropdown-content .link .red {
    color: #ff5f58;
}
.dropdown-content .link:hover {
    background-color: rgba(192,192,192,.1);
}
.dropdown-content .link a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 220px;
    background: linear-gradient(to bottom, #54b7ff, #45b1ff);
    color: white;
    font-weight: 600;
}
#sidebar .avatar {
    position: relative;
    top: 30px;
    left: 30px;
    height: 160px;
    width: 160px;
    background-color: white;
    border-radius: 50%;
}
#sidebar .avatar img {
    position: relative;
    top: 5px;
    left: 5px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#sidebar .links {
    position: absolute;
    top: 227px;
    left: 0px;
    width: 100%;
}
#sidebar .links > .link {
    position: relative;
    top: 10px;
    left: 20px;
    height: 48px;
    width: 200px;
    line-height: 48px;
    cursor: pointer;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-bottom: 10px;
}
#sidebar .links .link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#sidebar .links .active,
#sidebar .links .link:hover{
    background-color: #f4faff;
}
#sidebar .links .link i {
    float: left;
    font-size: 20px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
}
#sidebar .links .active i,
#sidebar .links .link:hover i {
    color: #45b1ff;
}
#sidebar .links .link .text {
    float: left;
    position: relative;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}
#sidebar .links .active .text,
#sidebar .links .link:hover .text{
    color: #0e0e0e;
}


#content {
    position: fixed;
    left: 220px;
    top: 100px;
    height: calc(100vh - 100px);
    width: calc(100vw - 220px);
}
:focus {
    outline:none !important;
}

.btn {
    height: 48px;
    border-radius: 24px;
}
.btn-green {
    background-color: #16e2a5;
    color: white;
    font-size: 16px;
}
.btn-green:hover {
    opacity: .8;
    color: white;
}
.red {
    border-color: #ff5f58 !important;
}
.alert {
    color: #ff5f58;
    border: 0px solid transparent;
}
.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}