 /*
 *= require bootstrap.min
 *= require dash/forms
 *= require dash/cards
 *= require dash/lets_play
 *= require dash/users
 *= require dash/stats
 *= require dash/customize
 *= require dash/account
 *= require dash/video-tool
 *= require perfect-scrollbar
 *= require dropzone
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    background-color: #f4faff;
}
#navbar {
    position: fixed;
    top: 0;
    width: calc(100vw - 23.3vh);
    left: 23.3vh;
}
#navbar .dropdown {
    position: relative;
    text-align: right;
    cursor: pointer;
    z-index: 100;
    right: 5.9vh;
    top: 3.5vh;
    height: 3.5vh;
    line-height: 3.5vh;
    font-size: 1.85vh;
}
#navbar .dropdown img {
    position: relative;
    top: 0px;
    right: 0;
    height: 100%;
    height: 3.5vh;
    width: 3.5vh;
}
.dropdown .rotated {
    transform: rotate(180deg);
}
.dropdown-content {
    display: none;
    position: fixed;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 1vh 2vh 0 rgba(172, 172, 172, 0.1);
    top: 6.3vh;
    right: 5.3vh;
    width: 21.1vh;
    border-radius: 1vh;
    padding: 0 1vh;
}
.dropdown-content .link {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    border-bottom: solid 0.1vh #dfe1e5;
    color: black;
    height: 5.3vh;
    line-height: 5.3vh;
    width: 19vh;
    font-size: 1.7vh;
}
.dropdown-content .link:last-child {
    border-bottom: 0;
}
.dropdown-content .link .red {
    color: #ff5f58;
}
.dropdown-content .link:hover {
    background-color: rgba(192,192,192,.1);
}
.dropdown-content .link a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 25.6vh;
    background: linear-gradient(to bottom, #54b7ff, #45b1ff);
    color: white;
    font-weight: 600;
}
#sidebar .avatar {
    position: relative;
    top: 3.5vh;
    left: 3.5vh;
    height: 18.65vh;
    width: 18.65vh;
    background-color: white;
    border-radius: 19vh;
    
}
#sidebar .avatar img {
    position: relative;
    top: 0.6vh;
    left: 0.6vh;
    height: 17.5vh;
    width: 17.5vh;
    border-radius: 18vh;
}
#sidebar .links {
    position: absolute;
    left: 0;
    top: 26vh;
    width: 100%;
}
#sidebar .links > .link {
    position: relative;
    top: 1vh;
    left: 2.3vh;
    height: 5.6vh;
    cursor: pointer;
    line-height: 5.6vh;
    border-top-left-radius: 20vh;
    border-bottom-left-radius: 20vh;
    padding-bottom: 1vh;
}
#sidebar .links .link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#sidebar .links .active,
#sidebar .links .link:hover{
    background-color: #f4faff;
}
#sidebar .links .link i {
    float: left;
    font-size: 2vh;
    width: 5.6vh;
    height: 5.6vh;
    line-height: 5.6vh;
    text-align: center;
    color: white;
}
#sidebar .links .active i,
#sidebar .links .link:hover i {
    color: #45b1ff;
}
#sidebar .links .link .text {
    float: left;
    position: relative;
    text-align: left;
    color: #ffffff;
    font-size: 1.9vh;
}
#sidebar .links .active .text,
#sidebar .links .link:hover .text{
    color: #0e0e0e;
}


#content {
    position: fixed;
    height: calc(100vh - 11vh);
    width: calc(100vw - 25vh);
    left: 25vh;
    top: 11vh;
    display: flex;
}
:focus {
    outline:none !important;
}

.btn {
    height: 48px;
    border-radius: 24px;
}
.btn-green {
    background-color: #16e2a5;
    color: white;
    height: 5.5vh !important;
    font-size: 1.7vh;
    border-radius: 6vh;
    width: 14vh;
    padding: 0;
}
.btn-green:hover {
    opacity: .8;
    color: white;
}
.red {
    border-color: #ff5f58 !important;
}
.alert {
    color: #ff5f58;
    border: 0px solid transparent;
}
.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}






.toggle-my-ratings {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3.4vh;
    line-height: 24px;
    width: 100%;
    border-top: 0.1vh solid #dfe1e5;
    padding-top: 0.8vh;
}
.toggle-my-ratings .left {
    background-color: white;
}

.toggle-my-ratings .right {
    background-color: #16E2a5;
}

.toggle-my-ratings .right .dot {
    background-color: white !important;
}

.toggle-my-ratings .toggle {
    position: relative;
    float: left;
    width: 2.6vh;
    height: 1.7vh;
    border-radius: 1.2vh;
    border: 0.1vh solid #dfe1e5;
    margin: 0 0.8vh 0 0;
    cursor: pointer;
    top: 0.2vh;
}
.toggle-my-ratings .toggle .dot {
    margin: 0.1vh 0.2vh;
    height: 1.2vh;
    width: 1.2vh;
    border-radius: 1vh;
    background-color: #adb5bd;
}

.toggle-my-ratings .toggle.left .dot {
    float: left;
}
.toggle-my-ratings .toggle.right .dot {
    float: right;
}
.toggle-my-ratings .text {
    font-size: 1.6vh;
    line-height: 2.2vh;
}
.toggle-my-ratings-1 {
    position: inherit;
    border-top: 0;
    margin-top: 2vh;
}