.rate-type {
	position: relative;
	width: 40vh;
	label {font-weight: bold;padding-top: 2vh;}
	.form-group {
		margin-bottom: 0;
		label {
			padding-top: 0;
			font-size: 1.6vh;
			font-weight: normal;
			i {
				float: right;
				color: rgb(22, 226, 165);
			}
			i.fa-dot-circle {
				display: none;
			}
			i.fa-circle {
				display: inline-block;
			}
		}
		input[type="radio"] {display: none;}
		input[type="radio"]:checked ~ label {
			i.fa-dot-circle {
				display: inline-block;
			}
			i.fa-circle {
				display: none;
			}
		}
	}
}
.objections label,
.ratings label,
.catchwords label,
.time label {
	font-weight: bold;
	padding-top: 2vh;
}