#dash_stats {
    position: absolute;
    top: 0vh;
    left: 5vw;
    height: 85vh;
    width: 75vw;
}
#dash_stats .head {
    width: 70vw;
    text-align: center;
    font-weight: normal;
    font-size: 3vh;
}
#dash_stats .head span {
    font-weight: bold;
}
#dash_stats .stats_overview {
    position: absolute;
    top: 8vh;
    left: 0;
    height: 25vh;
    width: 70vw;
}
#dash_stats .gesamt {
    position: absolute;
    top: 0;
    left: 0;
    height: 25vh;
    width: 20vh;
}
#dash_stats .spontan {
    position: absolute;
    top: 5vh;
    left: 20vh;
    height: 20vh;
    width: 20vh;
}
#dash_stats .kreativ {
    position: absolute;
    top: 5vh;
    left: 40vh;
    height: 20vh;
    width: 20vh;
}
#dash_stats .body {
    position: absolute;
    top: 5vh;
    left: 60vh;
    height: 20vh;
    width: 20vh;
}
#dash_stats .rhetorik {
    position: absolute;
    top: 5vh;
    left: 80vh;
    height: 20vh;
    width: 20vh;
}
#dash_stats .circle {
    position: absolute;
    top: 0;
    left: 2.5vh;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    border: 1vh solid rgba(28, 161, 222, 0.5);
    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
    background-color: rgba(28, 161, 222, 0.5);
    cursor: pointer;
    font-size: 4vh;
    color: white;
}
#dash_stats .gesamt .circle {
    position: absolute;
    left: 0;
    height: 20vh;
    width: 20vh;
    background-color: rgba(28, 161, 222, 0.5);
    border: 1vh solid rgba(28, 161, 222, 0.5);
    opacity: 1;
    cursor: pointer;
    z-index: 100;
    padding: 0;
}
#dash_stats .gesamt .circle img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0.3;
    z-index: 0;
}
#dash_stats .gesamt span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 20vh;
    z-index: 1000;
    color: white;
    font-size: 6vh;
}

#dash_stats .active,
#dash_stats .gesamt:hover,
#dash_stats .spontan:hover,
#dash_stats .kreativ:hover,
#dash_stats .body:hover,
#dash_stats .rhetorik:hover {
    font-weight: bold;
}
#dash_stats .active .circle,
#dash_stats .gesamt:hover .circle,
#dash_stats .spontan:hover .circle,
#dash_stats .kreativ:hover .circle,
#dash_stats .body:hover .circle,
#dash_stats .rhetorik:hover .circle {
    background-color: rgba(28, 161, 222, 1);
    border-color: #1ddaaf;
    font-weight: bold;
}
#dash_stats .text {
    position: absolute;
    top: 16vh;
    left: 0;
    height: 5vh;
    width: 20vh;
    text-align: center;
    font-size: 3vh;
    line-height: 5vh;
}
#dash_stats .gesamt .text {
    top: 21vh;
    font-size: 4vh;
}
#dash_stats .compare {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5vh;
    width: 21vh;
}
#dash_stats .compare .cs-select {
    height: 4vh;
    border-radius: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
    line-height: 4vh;
}
#dash_stats .places {
    position: absolute;
    top: 0;
    right: 0;
    height: 12vh;
    width: 21vh;
}
#dash_stats .places > .first {
    position: absolute;
    top: 0;
    left: 0vh;
    height: 7vh;
    width: 7vh;
}
#dash_stats .places > .second {
    position: absolute;
    top: 0;
    left: 7vh;
    height: 7vh;
    width: 7vh;
}
#dash_stats .places > .third {
    position: absolute;
    top: 0;
    left: 14vh;
    height: 7vh;
    width: 7vh;
}
#dash_stats .places img {
    position: absolute;
    top: 0;
    right: 0.5vh;
    height: 6vh;
}
#dash_stats .places .txt {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 7vh;
    line-height: 4vh;
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    color: darkgray;
}

#dash_stats .stats_chart {
    position: absolute;
    top: 40vh;
    height: 45vh;
    left: 0;
    width: 70vw;
    background-color: #1ca1de;
    border-radius: 50px;
    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
}
#dash_stats .stats_chart .chart-container {
    position: relative;
    top: 25px;
    left: 25px;
    height: calc(45vh - 50px);
    width: calc(70vw - 50px);
}
canvas {
    height: 420px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
body.modal-open .modal-backdrop, body.modal-open #pop_up{
    left: 10vw !important;
}
body.modal-open #pop_up .modal-dialog-centered{
    left: -8vw !important; 
}