#gd_users .top .select-text{
    position: absolute;
    top: 4vh;
    left: 5vw;
    font-size: 3vh;
    width: calc(20vw - 8vh);
    color: #858585;
}
#myTable_filter {
    display: none;
}
#gd_users .top .select{
    position: absolute;
    top: 6vh;
    left: 5vw;
    width: calc(20vw - 2.5vh);
    height: 10vh;
    border-radius: 5vh;
    line-height: 10vh;
}

#gd_users .top #searchField {
    position: absolute;
    bottom: 74vh;
    left: 25vw;
    width: 20vw;
    height: 6vh;
    background-color: white;
    padding-right: 3vh;
    padding-left: 3vh;
    color: black;
    border-radius: 4vh;
    border: 2px solid #ededed;
    font-size: 2.5vh;
    padding-top: 0.6vh;
}
#gd_users .top #searchField:focus {
    border-color: rgba(29, 218, 175, 1);
}
#gd_users .top > img {
    position: absolute;
    bottom: 75.5vh;
    left: calc(45vw - 5vh);
    height: 3vh;
    width: 3vh;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  z-index: 999999;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#gd_users .users {
    position: absolute;
    left: 5vw;
    top: 18vh;
    background-color: white;
    border-radius: 3.315vh;
    border: 0.1326vh solid #ededed;
    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.1);
    padding-bottom: 9.283vh;
    padding-left: 4.6419vh;
    padding-right: 4.6419vh;
}
#gd_users .users #table td img {
    position: relative;
    left: calc(50% - 2.25vh);
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
}
#gd_users .users #table {
    top: 3vh;
    position: relative;
    left: 0vw;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#gd_users .users table {
    width: 118.8vh !important;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    height: 53.0503vh !important;
}
#gd_users thead th {
    border-bottom: 1px solid rgba(1, 1, 1, 0.1) !important;
    font-size: 2.1220vh;
}
table.dataTable thead .sorting {
    background-size: 1.989vh;
}
table.dataTable tbody td {
    padding: 1.326vh 2.387vh !important; 
    font-size: 2.1220vh !important;
}
.dataTables_info {
    font-size: 2.1220vh;
}
#gd_users .dataTables_scrollBody,
#gd_users .dataTables_scrollBody table,
#gd_users .dataTables_scrollBody table tbody{
    border: none;
}
#gd_users table > tbody > tr {
    height: 6vh;
    border: none;
}
#gd_users table > tbody > tr > td a,
#gd_users table > tbody > tr > td button{
    font-size: 2vh;
    color: #1ddaaf;
    -webkit-appearance: none !important;
}
#gd_users table > tbody > tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
.cs-options > ul > li:hover {
    background-color: #f0f0f0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 3.183vh !important;
    padding: 1.061vh 2.122vh !important;
    margin-left: 0.265vh !important;
    font-size: 2.122vh !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: 0.1326vh solid #979797 !important;
    border-radius: 0.265vh !important;
}

