.teams, .users {
    position: absolute;
    top: calc(50vh - 42.1vh);
    // width: 58.7vh;
    height: 62.7vh;
    width: 64.55vh;
}
.teams {
    // right: calc(50% + 1.9vh);
    right: calc(50% + 3vh);
}
.users {
    left: calc(50% + 3vh);
}
.teams .searchbar,
.users .searchbar {
    position: absolute;
    top: 1vh;
    left: 0;
    height: 5.6vh;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 2vh 0 rgba(107, 107, 107, 0.1);
    background-color: #ffffff;
    width: 35vh;
    display: flex;
}

.teams > .btn,
.users > .btn {
    position: absolute;
    top: 1vh;
    right: 0;
    border-radius: 4vh;
    width: 17.5vh;
}
.teams .karte,
.users .karte {
    position: absolute;
    // width: 58.7vh;
    height: 64vh;
    // height: 68.5vh;
    top: 8.5vh;
    width: 100%;
}
#newteam,
.editteam,
#newUser {
    display: none;
}
#editteam form .user-list,
#newteam form .user-list {
	height: auto !important;
	max-height: 25vh;
	z-index: 1000;
}
#newteam form .user-list .unselected_users label i,
#editteam form .user-list .unselected_users label i {
	line-height: 5.3vh;
	color: #16e2a5;
	font-size: 2.5vh;
}
#editteam .selected_users,
#newteam .selected_users {
	position: absolute;
	bottom: 12vh;
	height: 20vh;
	width: 56vh;
	border-radius: 0.8vh;
	border: 0.1vh solid #dfe1e5;
	padding: 0 1.2vh;
	overflow: auto;
}
#editteam .selected_users .user,
#newteam .selected_users .user {
	position: relative;
	width: 100%;
	height: 5.3vh;
	border-bottom: 0.1vh solid #dfe1e5;
	line-height: 5.3vh;
	display: flex !important;
}
#editteam .selected_users .user i,
#newteam .selected_users .user i {
	line-height: 5.3vh;
	color: #ff5f58;
}
#editteam .selected_users .user img,
#editteam .selected_users .user .circle,
#newteam .selected_users .user img,
#newteam .selected_users .user .circle {
	margin: 0.7vh;
	height: 3.8vh;
	width: 3.8vh;
	border-radius: 50%;
	background-color: #d7eeff;
	line-height: 3.8vh;
	text-align: center;
	font-size: 1.3vh;
}
#newteam input[type='checkbox'],
#editteam input[type='checkbox'],
#newUser input[type='checkbox'],
#editUser input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.users .karte #select-team {
    position: absolute;
    right: 4.3vh;
    top: 3vh;   
}
.users .karte .custom-select {
    border: solid 0.1vh #dfe1e5;
    line-height: 3.9vh;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.8vh;
    font-weight: 300;
    outline: none !important;
    width: 20.1vh;
    height: 4vh;
}
.selected-teams > label {
    position: relative;
    float: left;
    line-height: 2.2vh;
    height: 3.2vh;
    border: solid 0.2vh #a358df;
    border-radius: 12.5px;
    cursor: pointer;
    margin: 0 2.5px 5px 0;
    width: auto;
    padding: 2.5px 1vh;
    font-size: 14px;
}
.selected-teams > label i {
    line-height: 2.2vh;
    text-align: center;
    width: 1vh;
    margin-left: 5px;
    font-size: 1.8vh;
}
.team-list > label > i {
    display: none;
}
option {
    box-shadow: none;
}
option:focus {
    outline: none !important;
}
.users .karte .custom-select:focus {
    border: solid 0.1vh #dfe1e5;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}
.table {
    width: 100%;
    color: #212529;
    margin-bottom: 1.5vh;
}
.teams .karte .table,
.users .karte .table {
    // position: absolute;
    // width: 52.9vh;
    // height: 42.3vh;
    // // height: 54vh;
    // top: 9.3vh;

    position: absolute;
    width: 55.9vh;
    height: 48vh;
    top: 9.3vh;
}
.teams .karte .table table,
.users .karte .table table{
    width: 100%;
    max-height: 100%;
}
.table table th {
    border: none !important;
    font-weight: 300;
    color: #4e4e4e;
    align-content: center;
    font-size: 1.8vh;
    padding: 0.5vh 0.5vh 1vh 0.5vh;
    text-align: left;
}
.table table tr th:first-child {
    text-align: left;
}
.table table td {
    position: relative;
    border-top: 0.1vh solid #dfe1e5;
    padding: 0;
    font-weight: 300;
    color: black;
    align-content: center;
    font-size: 1.8vh;
    line-height: 5.2vh;
    text-align: left;
}
.teams table tbody tr:hover,
.teams table tbody tr.active 
{
    background-color: rgba(192,192,192,.1);
    cursor: pointer;
}

.users table tbody tr:hover,
.users table tbody tr.active {
    background-color: rgba(192,192,192,.1);
    // cursor: pointer;
}
.table table tbody tr td:first-child {
    text-align: left;
}
.table table td .rating {
    width: 4.3vh;
    height: 4.3vh;
    object-fit: contain;
    border: solid 0.2vh #4394ec;
    border-radius: 50%;
    line-height: 4vh;
    text-align: center;
    margin: 5px auto;
}

.users .table table tr td:first-child img,
.users .table table tr td:first-child .circle{
    float: left;
    margin: 7px;
    width: 3.8vh;
    height: 3.8vh;
    object-fit: contain;
    border-radius: 50%;
    line-height: 3.8vh;
    text-align: center;
    background-color: #d7eeff;
    font-size: 1.2vh;
    font-weight: 600;
}
.users .table table tr td .fa-edit,
.teams .table table tr td .fa-edit {
    color: #16e2a5;
    font-size: 2.2vh;
    position: relative;
    top: 0.4vh;
}
.table.ps table img {
    width: 2.4vh;
    height: 2.4vh;
}

.username .username-link {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}