.video-tool .red,
.video-details .red {
	color: #ff5f58;
	font-weight: lighter;
}
.video-tool-container {
    position: relative;
    // width: 154.4vh;
    margin: 0 auto;
    top: 5.8vh;
}
.video-tool {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 2.2vh;
    width: 83.56vh;
}
.video-uploads {
    float: left;
    position: relative;
    padding: 2.2vh;
    width: 51.8vh;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.video-uploads .add,
.video-tool .add{
    position: absolute;
    background-color: #16e2a5;
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    top: 2.8vh;
    right: 2.2vh;
    height: 3.9vh;
    width: 3.9vh;
    line-height: 4vh;
    font-size: 2.2vh;
}
.video-uploads .karte,
.video-tool .karte {
    position: relative;
    height: 60vh;
    // height: 75vh;
    width: 47.6vh;
    margin: 2.2vh 0;
}

.video-tool .karte {
    width: 79.3vh;
}
.video-details .karte {
	box-shadow: 0px 0.2vh 1vh 0 rgba(172, 172, 172, 0.5);
}
.video-details.karte {
    position: relative;
    margin: 0 auto;
    top: 3.2vh;
    width: 117vh;
    height: 70vh;
}
.video-details .left-part {
    position: absolute;
    left: 4.3vh;
    top: 3.6vh;
    height: 60.5vh;
    width: 34.9vh;
}
.video-details .left-part .head.small {
	line-height: 4vh;
	height: 6vh;
	font-weight: bold;
}
.video-details .left-part .name-date {
    position: relative;
    left: 0;
    top: 0;
    line-height: 2.35vh;
    font-size: 1.6vh;
    text-align: left;
    font-weight: normal;
    margin: 0 0 2vh 0;
}
.video-details .left-part .name-date img,
.video-details .left-part .name-date .circle {
    height: 2.35vh;
    width: 2.35vh;
    border-radius: 50%;
    margin: 0 0.5vh 0 0;
}
.video-details .left-part .name-date .circle {
	background-color: rgba(22,226,165,.2);
	font-size: 1vh;
	line-height: 2.35vh;
	text-align: center;
	float: left;
}
.video-details .divider {
    position: relative;
    height: 0.1vh;
    width: 100%;
    background-color: #dfe1e5;
}
.video-details .left-part .counters {
	display: flex;
	padding: 0;
	margin: 0 0 1vh 0;
}
.video-details .left-part .counters .do,
.video-details .left-part .counters .dont,
.video-details .left-part .counters .wpm {
	width: 33%;
}
.video-details .left-part .counters .do .count {
	color: rgba(22,226,165,.8);
}
.video-details .left-part .counters .dont .count {
	color: rgba(204,51,51,.8);
}
.video-details .left-part .counters .head {
	font-size: 1.5vh;
	line-height: 3vh;
	height: 3vh;
	width: 100%;
	margin: 1vh 0 0;
}
.video-details .left-part .counters .count {
	line-height: 4vh;
	font-size: 4vh;
	text-align: center;
}
.video-details .left-part .counters .count .word {
	font-size: 1vh;
	line-height: 2vh;
}
.video-details .left-part .head.transcript,
.video-details .right-part .head.comments {
	line-height: 3vh;
	font-size: 2vh;
	font-weight: bold;
	height: 3vh;
	text-align: left;
	margin-bottom: .5vh;
}
.video-details .left-part > .karte.text {
	position: relative;
	top: 0;
	left: 0;
	height: 31.5vh;
	width: 100%;
	.blur {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		filter: blur(2px);
		padding: 0.4vh 4.3vh;
	}
	.blue {
		position: relative;
		margin: 10vh 0;
		line-height: 11vh;
		font-size: 3vh;
		font-weight: bold;
		color: rgba(0,0,0,.3);
		text-align: center;
	}
}
.video-details .right-part .toggle-my-ratings {
	position: relative;
    bottom: 0;
	right: 0;
    height: 3.4vh;
    line-height: 24px;
    width: 9.4vh;
	margin: 0 auto;
    padding-top: 0.8vh;
	border-top: none;
}
.video-details .right-part .toggle-my-ratings .left {
    background-color: #16E2a5;
}

.video-details .right-part .toggle-my-ratings .right {
    background-color: white;
}

.video-details .right-part .toggle-my-ratings .right .dot {
    background-color: #adb5bd !important;
}

.video-details .right-part .toggle-my-ratings .toggle {
    // position: relative;
    // float: left;
    // width: 2.6vh;
    // height: 1.7vh;
    // border-radius: 1.2vh;
    // border: 0.1vh solid #dfe1e5;
    // margin: 0 0.8vh 0 0;
    // cursor: pointer;
    // top: 0.2vh;
    position: relative;
    width: 3vh !important;
    height: 2vh;
    border-radius: 1.2vh;
    border: 0.1vh solid #dfe1e5;
    margin: 0 auto !important;
    cursor: pointer;
    top: 0.1vh;
	float: none !important;
}
.video-details .right-part .toggle-my-ratings .toggle .dot {
    // margin: 0.24vh 0.2vh;
    // height: 1.1vh;
    // width: 1.1vh;
    // border-radius: 1vh;
    margin: 0.24vh 0.24vh;
    height: 1.3vh;
    width: 1.3vh;
    border-radius: 1vh;
    background-color: white;
}

.video-details .right-part .toggle-my-ratings .toggle.left .dot {
    float: left;
}
.video-details .right-part .toggle-my-ratings .toggle.right .dot {
    float: right;
}
.video-details .right-part .rating {
    position: relative;
    margin: 0 0 2.2vh 0;
    height: 17vh;
}
.video-details .right-part .rating .left {
    width: 9.6vh;
    float: right;
    text-align: center;
    line-height: 2.35vh;
    margin: 0 0 0 2.2vh;
}
.video-details .right-part .rating .left .text {
    font-size: 1.6vh;
    line-height: 1.8vh;
    margin-top: 0.5vh;
}
.video-details .right-part .toggle-my-ratings .text {
    font-size: 1.6vh;
    line-height: 2.2vh;
}
.video-details .right-part .rating .left .circle {
    height: 9.6vh;
    width: 9.6vh;
    border: 0.4vh solid #4394ec;
    line-height: 9vh;
    font-size: 3.4vh;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
}
.video-details .right-part .rating .right {
    position: relative;
    width: 23vh;
    float: left;
}
.video-details .right-part .rating .right .category {
    line-height: 2.2vh;
    font-size: 1.6vh;
    font-weight: normal;
}
.video-details .right-part .rating .right .category .bar {
    float: left;
    width: 19.6vh;
    height: 1vh;
    border-radius: 0.5vh;
    margin: 0.5vh 0;
    background-color: rgba(67, 148, 236, .2);
}
.video-details .right-part .rating .right .category .bar .filled {
    height: 1vh;
    border-radius: 0.5vh;
    background-color: rgba(67, 148, 236, 1);
}
.video-details .right-part .rating .right .category .rating {
    margin: 0;
    height: 2.2vh;
    float: right;
}
#editVideo {
	position: relative;
	top: 3.6vh;
	height: 55.5vh;
	width: 58.6vh;
	margin: 0 auto;
}
#editVideo .head.left,
#editVideo .back {
	line-height: 8vh;
	height: 8vh;
}
#editVideo video {
	width: 50vh;
	margin: 2vh 0;
}
.video-details .middle-part {
    position: absolute;
    left: 42vh;
    top: 3.6vh;
    height: 60vh;
    width: 34.9vh;
    padding: 0;
}
.video-details .middle-part .video-container {
    position: relative;
    margin: 1.7vh 1.7vh 0 1.7vh;
    left: 0;
    top: 0;
    height: 50vh;
    width: 31.8vh;
    border-radius: 0.8vh;
    background-color: black;
}
.video-details .middle-part .video-container video {
    position: relative;
    height: 100%;
    width: 100%;
}
.video-details .middle-part .progress {
    position: relative;
    top: 0;
    height: 2.35vh;
    margin: 0 1.7vh;
    background-color: transparent;
    display: block;
}
.video-details .middle-part .progress .progressBar {
    position: absolute;
    left: 0;
    top: 1vh;
    height: 0.6vh;
    width: 31.8vh;
    border-radius: 0.3vh;
    background-color: rgba(130, 130, 130, .2);
}
.video-details .middle-part .progress .progressDot {
    position: relative;
    left: 0;
    box-shadow: 0 0.2vh 0.5vh 0 rgba(107, 107, 107, 0.15);
    border: solid 0.3vh #fafafa;
    background-color: #16e2a5;
    border-radius: 50%;
    z-index: 1000;
    top: 0.35vh;
    width: 1.9vh;
    height: 1.9vh;
}
.video-details .middle-part #progressText {
    margin-left: 1.7vh;
    line-height: 3.2vh;
    font-size: 1.6vh;
    text-align: left;
    color: black;
    font-weight: 600;
}
.video-details .controls .stop {
    position: absolute;
    left: calc(50% - 6.2vh);
    bottom: 1.29vh;
    // border: 0.2vh solid #16e2a5;
    // border-radius: 50%;
    // text-align: center;
    // color: #16e2a5;
    height: 2.8vh;
    width: 2.8vh;
    // line-height: 1.6vh;
    // font-size: 1.6vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.video-details .controls .stop img {
    width: 2.8vh;
}
.video-details .controls .play {
    position: absolute;
    left: calc(50% - 2.2vh);
    bottom: 0.8vh;
    // background-color: #16e2a5;
    // color: white;
    height: 4.3vh;
    width: 4.3vh;
    line-height: 1.2vh;
    // text-align: center;
    // border-radius: 50%;
    // font-size: 1.2vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.video-details .controls .play img {
    width: 4.4vh;
}
.video-details .controls .mute {
    position: absolute;
    right: 1.7vh;
    color: #16e2a5;
    line-height: 2.2vh;
    bottom: 1.7vh;
    font-size: 1.6vh;
}
.video-details .right-part {
    position: absolute;
    right: 3vh;
    top: 3.6vh;
    height: 58.15vh;
    width: 34.9vh;
}
.video-details .right-part #my_rating {
	display: none;
}
.video-details .right-part .karte {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 27.5vh;
    padding: 0 1.7vh;
}
.video-details .right-part .karte .comment {
    position: relative;
    width: 100%;
    min-height: 9.6vh;
    border-bottom: 0.1vh solid #dfe1e5;
    padding-top: 1.7vh;
    cursor: pointer;
	.head {
		height: 3.7vh;
		line-height: 3.7vh;
		font-size: 1.8vh;
		font-weight: 300;
		text-align: left;
	}
	.edit {
		position: absolute;
		top: 1.7vh;
		right: 0;
		height: 3.7vh;
		line-height: 3.7vh;
		.far {
			margin: 0 .5vh;
		}
		.fa-edit {
			color: #16e2a5;
		}
		.fa-trash-alt {
			color: lightgrey;
		}
		.far:hover {
			opacity: .5;
		}
		
	}
}
.video-details .right-part .karte .comment:hover {
    background-color: rgba(192,192,192,.1);
}
.video-details .right-part .karte .comment img {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    height: 3.7vh;
    width: 3.7vh;
    border-radius: 50%;
    margin: 0 1vh 0 0;
}
.video-details .right-part .karte .comment .comment-title {
	position: relative;
	min-height: 4.3vh;
	height: auto;
    font-size: 1.7vh;
	display: flex;
	input {
		position: relative;
		height: 3vh;
		margin: .65vh 0 .65vh 3vh;
	}
}
.video-details .right-part .karte .comment .comment-title span {
    position: absolute;
    left: 0;
    top: 0;
    height: 1.2vh;
    width: 1.2vh;
    border-radius: 50%;
    margin: 1.6vh 0.5vh;
}
.video-details .right-part .karte .comment .comment-title span#text {
	position: relative;
    min-height: 2vh;
	margin: 1.15vh 0 1.15vh 3vh;
	line-height: 2vh;
	width: auto;
	height: auto;
}
.video-details .right-part #videoTime {
    float: left;
    line-height: 4.3vh;
    font-size: 1.8vh;
    font-weight: 600;
}
.video-details .right-part input[type="radio"] {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.video-details .right-part label {
    position: relative;
    line-height: 4.3vh;
    width: auto;
    float: right;
}
.video-details .right-part label #text {
    float: left;
}
.video-details .right-part label .checkbox {
    position: relative;
    float: left;
    height: 1.7vh;
    width: 1.7vh;
    border: 0.1vh solid white;
    border-radius: 50%;
    margin: 1.2vh 0.5vh;
    pointer-events: none;
}
.video-details .right-part label .checkbox .dot {
    position: absolute;
    height: 0.9vh;
    width: 0.9vh;
    top: 0.3vh;
    left: 0.3vh;
    background-color: transparent;
    border-radius: 50%;
}
.video-details .right-part label#positive,
.video-details .right-part label#positive .checkbox{
    color: #0ba653;
    border-color: #0ba653;
}
.video-details .right-part label#positive input:checked ~ .checkbox > .dot,
.video-details .right-part .karte .comment .comment-title .positive {
    background-color: #0ba653;
}
.video-details .right-part label#neutral input:checked ~ .checkbox > .dot,
.video-details .right-part .karte .comment .comment-title .neutral {
    background-color: #ffcc00;
}

.video-details .right-part label#negative input:checked ~ .checkbox > .dot,
.video-details .right-part .karte .comment .comment-title .negative {
    background-color: #cc3333;
}

.video-details .right-part label#neutral,
.video-details .right-part label#neutral .checkbox{
    color: #ffcc00;
    border-color: #ffcc00;
}
.video-details .right-part label#negative, 
.video-details .right-part label#negative .checkbox{
    color: #cc3333;
    border-color: #cc3333;
}
.video-tool .karte > .sort_by {
    position: absolute;
    display: flex;
    height: 5vh;
    top: 2.7vh;
    right: 4.3vh;
    line-height: 5vh;
}
.video-tool .karte > .sort_by > label {
    position: relative;
    width: auto;
    line-height: 5vh;
    padding-right: 1vh !important;
}
.video-tool .karte > .sort_by > select {
    position: relative;
    width: 20.1vh;
    top: 0.6vh;
    font-size: 1.8vh;
    border-radius: 0.4vh;
    padding: 0.8vh;
    border-width: 0.1vh;
}

.video-tool .timer {
    position: absolute;
    right: 1.6vh;
    top: 1.6vh;
    color: #fff;
    font-size: 1.6vh;
}

.video-tool .video-list,
.video-uploads .karte .body {
    position: relative;
    top: 0;
    left: 0;
    height: 40vh;
    width: 100%;
}
.video-tool .video-list .video-karte {
    position: relative;
    float: left;
    width: 20.1vh;
    height: 30.7vh;
    border-radius: 0.8vh;
    box-shadow: 0px 0.2vh 1vh 0 rgba(94, 94, 94, .15);
    background-color: #fff;
    margin: 0 3.2vh 2.2vh 0;
    cursor: pointer;
}
.video-uploads .karte .body .video-karte {
    position: relative;
    float: left;
    height: 13.5vh;
    width: 17.8vh;
    border-radius: 0.8vh;
    box-shadow: 0px 0.2vh 1vh 0 rgba(94, 94, 94, .15);
    margin: 0 1.7vh 1.7vh 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.8vh;
    background-color: rgba(0,0,0,.2);    
}
.top .overlay {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.top .rating {
    position: absolute;
    top: 1vh;
    left: 1vh;
    height: 4.3vh;
    width: 4.3vh;
    border: solid 0.4vh #4394ec;
    line-height: 3.4vh;
    text-align: center;
    font-size: 1.8vh;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    
}
.player {
    font-size: 1.8vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.top .play {
    position: absolute;
    top: 8.4vh;
    left: 6.8vh;
    height: 6.2vh;
    width: 6.2vh;
    background-color: rgba(255,255,255,.2);
    border-radius: 50%;
    line-height: 6.2vh;
    text-align: center;
    color: white;
    font-size: 1.8vh;
}

.video-tool .video-list .video-karte:hover .play {
    transform: scale(1.1);
}
.top .heart {
    position: absolute;
    bottom: 1vh;
    right: 1.2vh;
    font-size: 2.2vh;
    color: white;
    line-height: 2.2vh;
}
.top .remove {
	position: absolute;
	bottom: 1vh;
	left: 1.2vh;
	font-size: 2.2vh;
	color: white;
	line-height: 2.2vh;
	width: 2.2vh;
}
.top .remove:hover,
.top .heart:hover {
	opacity: 0.5;
}
.video-uploads .video-karte .remove {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1.2vh;
	line-height: 2vh;
	height: 2vh;
	width: 2vh;
	text-align: center;
	color: white;
}
.video-uploads .video-karte .title {
    position: absolute;
	width: calc(100% - 2.4vh);
    bottom: 0;
	height: 3.8vh;
    line-height: 3.8vh;
    font-size: 1.6vh;
    font-weight: 600;
    color: #fff;
    text-align: left;
	margin: 1.2vh;
	overflow: hidden;
}
.video-karte .top {
    position: relative;
    border-top-left-radius: 0.8vh;
    border-top-right-radius: 0.8vh;
    height: 23.3vh;
    width: 20.1vh;
    overflow: hidden;
}
.video-karte .top .video-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -3vh;
    bottom: 0;
    left: -3vh;
    transform: rotate(90deg);
}
.video-karte .word {
    width: 100%;
    font-size: 1.8vh;
    line-height: 3.8vh;
    text-align: left;
    padding: 0 1.8vh;
    font-weight: 600;
}
.video-karte .player img {
    height: 2.35vh;
    width: 2.35vh;
    border-radius: 50%;
    margin: 0 0 0 1.8vh;
}