<h1>Hallo <%= @user.fname %>,</h1>
	
<p>du bist dem Team "<%= @team.name %>" beigetreten und kannst dich ab sofort mit deiner E-Mail Adresse in Pitchrunden anmelden</p>

<p>Viel Spaß beim Trainieren!</p>
<p>Dein Peter Pitch Team</p>