<div class="menu menu-position">
	<span class="menu-logo"><img width="144" src="<%= image_url 'logo-m.png' %>"></span>
	<p><%= @game.team.name %></p>
	<% if can %>
		<button type="button" id="list" class="btn btn-primary btn-menu" data-toggle="modal" data-target="#myModal">
		  <span></span>
		  <span></span>
		  <span></span>
		</button>
	<% end %>
</div>