<div class="menu menu-position">
	<span class="menu-logo"><img width="144" src="<%= image_url 'logo-m.png' %>"></span>
	<p>Teamname</p>
	<button type="button" id="list" class="btn btn-primary btn-menu" data-toggle="modal" data-target="#myModal">
	  <span></span>
	  <span></span>
	  <span></span>
	</button>
</div>