<section id="content">
    <div class="head">
        Tolle Runde!
    </div>
    <div class="middle">
        <%= image_tag @admin.avatar.quad330.url || 'defaults/wolf.jpg', class: 'mid-img green' %>
    </div>
    <div class="bottom">
       <a href="<%= gma_replay_path %>" class="pol-bg"><i class="fas fa-redo"></i></a>
       <a href="<%= gma_ended_path %>" class="pol-bg" data-confirm="Bist du sicher, dass du keine neue Runde starten möchtest?"><i class="fas fa-times"></i></a>
    </div>
</section>

<% if @game %>
    <div id='game_channel' data-game-id="<%= @game.id %>" data-turn="replay" ></div>

<% end %>