<section id="content">
    <div class="head">
        <div class="h100">Das war eine tolle Runde!</div>
    </div>
    <div class="middle">
        <%= image_tag @admin.avatar.quad330.url || 'defaults/wolf.jpg', class: 'mid-img green' %>
    </div>
    <div class="bottom">
       <%= link_to 'neue Runde!', gma_replay_path, class: 'link' %>
       <%= link_to 'beenden!', gma_ended_path, class: 'link' %>
    </div>
</section>
