<div class="head">
    <%= render partial: 'header' %>
	
</div>
<%= image_tag 'game/choose.png', class: 'bg-image' %>

<% if @game %>
  <div id='game_channel' data-game-id="<%= @game.id %>"></div>
<% end %>