
<%= render partial: 'header' , locals: {can: false}%>            
<section id="content" class="choose-rating">
    <div class="menu menu-position nunito-extrabold">
    	<span class="menu-logo"><img width="144" src="<%= image_url 'logo-m.png' %>"></span>
        <p>TEAM</p>
    </div>
    <div class="head">
        <h1>Welche Bewertung soll nach den Pitches angezeigt werden?</h1>
    </div>
    <div class="middle">
        <%= form_tag gma_after_wait_path, id: "user_form" do %>
            <%= select_tag 'user_id',  options_for_select(@game.users.collect{ |u| ["#{u.fname} #{u.lname}", u.id] }) %>
        <% end %>
    </div>
    <div class="bottom">
        <!-- <a href="">weiter!</a> -->
        <button class="btn btn-green" onclick="submitForm()">weiter</button>
    </div>
</section>
    
<script>
    checkOrientation();
    window.addEventListener('resize', checkOrientation);

    function submitForm() {
        $('#user_form').unbind('submit');
        $('#user_form').submit();
    }
</script>
