<section id="content">
    <div class="head">Nicht genug Spieler, um das Spiel zu starten!</div>
    
    <div class="bottom">
        <%= link_to 'überspringen!', gma_wait_path %>
    </div>
</section>