<%= render partial: 'header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">Nicht genug Spieler,</h1>
    <h3 class="nunito-regular">um den Pitch zu starten!</h3>
</div>
<div class="bottom">
    <%= link_to 'zurück!', gma_wait_path, class: 'nunito-regular' %>
</div>
<script>
	checkOrientation();
 	window.addEventListener('resize', checkOrientation);
</script>