<div class="head">
    <%= render partial: 'header' , locals: {can: false}%>
    <h1>Nicht genug Spieler,</h1>
    <h3>um das Spiel zu starten!</h3>
</div>
<div class="bottom">
    <%= link_to 'überspringen!', gma_wait_path %>
</div>