<%= render partial: 'header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">Intro</h1>
</div>
<div class="middle">
    <%= image_tag 'game/wolf_button.png', class: 'mid-img green pulse' %>
</div>
<div class="bottom">
    <%= link_to 'weiter!', gma_choose_path, class: 'nunito-regular' %>
</div>