<div id="count_channel" data-game-id="<%= @game.id %>" >
<div class="head">
    <%= render partial: 'header' , locals: {can: false}%>
    <h1>
    <% if @admin == @cur_user %>
        Du wirst bewertet!
    <% else %>
        Bewertung abgegeben!
    <% end %>
    </h1>
</div>
<div class="middle" id="middle">
    <%= @count %>
</div>
<div class="bottom">
    <%= link_to 'weiter!', gma_rating_path %>
</div>
</div>