<section id="content">
    <div class="head">
        <% if @admin == @cur_user %>
            <div class="h100">Du wirst bewertet!</div>
        <% else %>
            <div class="h100">Bewertung abgegeben!</div>
        <% end %>
    </div>
    <div class="middle" id="middle">
        <%= @ratings_count %>/<%= @player_count %> <br>
        haben bewertet!
    </div>
    <div class="bottom">
      <%= link_to 'Bewertung beenden!', gma_rating_path %>
    </div>
</section>