<section id='content'>
   <div id="count_channel" data-game-id="<%= @game.id %>" >
    <div class="head">
        <% if @admin == @cur_user %>
            <div class="h100">Du wirst bewertet!</div>
        <% else %>
            <div class="h100">Bewertung abgegeben!</div>
        <% end %>
    </div>
    <div class="middle" id="middle">
        <%= @count %>
    </div>
    <div class="bottom">
      <%= link_to 'Bewertung beenden!', gma_rating_path %>
    </div>
    </div>
</section>
<div id='game_channel' data-game-id="<%= @game.id %>"></div>
