<div class="head">
    <%= render partial: 'header' , locals: {can: false}%>
    <% if @admin == @cur_user %>
        <h1>Du bist dran!</h1>
    <% else %>
        <h1><%= @cur_user.fname %> ist dran!</h1>
    <% end %>
</div>
<div class="middle">
    <%= image_tag @cur_user.avatar.quad.url, class: 'mid-img green pulse' %>
</div>
<div class="bottom bottom-play">
    <p>ist dran!</p>
    <div class="switch-box switch-box-vt" id="switch">
        <label class="switch">
            <input type="checkbox" id="start" value="is" >
            <span class="slider round"></span>
        </label>
        <p class="text-for-switch" id=''>Mit Video Starten</p>
    </div>
    <%= link_to 'Pitch starten!', gma_play_url , id: 'play'%>
</div>

<script type="text/javascript">
    $("#start").on("change", function(e){
      var that = $(this);
      if(that.is(":checked")){
        $(".text-for-switch").addClass("green-text")
      }else{
        $(".text-for-switch").removeClass("green-text")
      }
    })
    var redirect = false;
    $("#play").click(function(event){
        event.preventDefault();
        var $this = $(this);
        var href = $this.attr("href"),
        video = $("#start").prop("checked");
        window.location = href +"?video="+video;
    })
</script>