<div id="count_channel" date-game-id="<%= @game.id %>">
<section id="content">
    <div class="head">
        Alle online?
    </div>
    <div class="middle">
        <%= image_tag 'game/wolf_button.png', class: 'mid-img green' %>
    </div>
    <div class="bottom">
       <%= link_to 'starten!', gma_choose_path %>
    </div>
</section>
  <div id="modal">
  <%= render partial: 'shared/user_accept_modal' %>
  </div>
</div>