<h1>Willkommen <%= @resource.fname %>!</h1>

<p>Du kannst deinen Account über den nachfolgenden Link bestätigen:</p>

<p><%= link_to 'Account bestätgen!', confirmation_url(@resource, confirmation_token: @token) %></p>
