<h1>Hallo <%= @resource.fname + @resource.lname%>,</h1>

<p>wir freuen und das du dich für Peter Pitch entschieden hast.</p>

<p>Bitte klicke auf den Button um deine Email-Adresse zu validieren und die Anmeldung abzuschließen.</p>

<p><%= link_to 'Email Validieren', confirmation_url(@resource, confirmation_token: @token), class: 'btn btn-green' %></p>

<p>Sobald wir deinen Account freigeschaltet haben, erhältst du eine Benachrichtigung von uns.</p>

<p>Dein Peter Pitch-Team</p>
