<h1>Hallo <%= @resource.fname %>!</h1>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Deine E-Mail Adresse wurde geändert zu: <%= @resource.unconfirmed_email %>.</p>
  <p>Bitte schaue in dein Postfach um diese zu bestätigen!</p>
<% else %>
  <p>Deine E-Mail Adresse wurde erfolgreich geändert zu: <%= @resource.email %>.</p>
<% end %>
