<h1>Hallo <%= @resource.fname %>!</h1>

<p>Du hast ein neues Passwort angefordert!</p>
<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-green' %></p>

<p>Liebe Grüße</p>
<p>Dein Peter Pitch Team</p>
