@font-face {
	font-family: 'Omnes';
	src: font_url('omnes/Omnes.eot?#iefix') format('embedded-opentype'), font_url('omnes/Omnes.otf') format('opentype'), font_url('omnes/Omnes.woff') format('woff'), font_url('omnes/Omnes.ttf') format('truetype'), font_url('omnes/Omnes.svg#Omnes') format('svg');
	font-weight: normal;
	font-style: normal;
}