@font-face {
	font-family: 'Omnes';
	src: url('omnes/Omnes.eot?#iefix') format('embedded-opentype'), url('omnes/Omnes.otf') format('opentype'), url('omnes/Omnes.woff') format('woff'), url('omnes/Omnes.ttf') format('truetype'), url('omnes/Omnes.svg#Omnes') format('svg');
	font-weight: normal;
	font-style: normal;
}