/*
 *= require perfect-scrollbar
 *= require cs-select/cs-select
 *= require cs-select/cs-skin-underline
 *= require omnes
 *= require dash/jquery.dataTables.min
 *= require dash/teams
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import 'font-awesome';


body {
    font-family: 'Omnes';
    background-color: #ededed;
}
.alert {
    position: fixed;
    top: 71px;
    left: 200px;
    width: calc(100vw - 200px);
    background-color: rgba(210, 240, 240, 0.8);
    border: none;
    color: #2887b7;
    font-size: 2vh;
    line-height: 4vh;
}
#navbar {
    position: fixed;
    top: 0;
    left: 200px;
    height: 71px;
    width: calc( 100% - 200px );
    background-color: white;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.1);
    z-index: 10;
}
.welcome {
    position: relative;
    left: 75px;
    top: 0;
    line-height: 71px;
    font-size: 25px;
}

#sidebar {
    position: fixed;
    top: 0vh;
    left: 0vh;
    height: 100%;
    width: 200px;
    background: linear-gradient(#1dacf1 0%, #1a8ed6 51%, #145daa 100%);
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.5);
    z-index: 10;
}
.logo-top {
    position: relative;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 120px;
    margin: 40px;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.5);
}
.links {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
}
.links .link {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 200px;
    line-height: 50px;
    cursor: pointer;
}
.links .link a {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.links .link:hover,
.links .link.active {
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
}

#content {
    position: fixed;
    top: 121px;
    left: 273px;
    width: calc( 100% - 323px );
    height: calc( 100% - 171px );
}

#table {
    position: relative;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.btn-green {
    margin-left: 20px;
    background-color: #1ddaaf !important;
    color: #fff !important;
    border: 1px solid #1ddaaf !important;
    min-height: 44px;
    min-width: 170px;
    color: #fff;
    font-size: 1.125rem;
    background-color: #1ddaaf !important;
    border-radius: 22px !important;
    padding: .55rem 1rem .25rem 1rem;
    -webkit-box-shadow: 0 9px 18px rgba(0,0,0,0.17);
    -moz-box-shadow: 0 9px 18px rgba(0,0,0,0.17);
    box-shadow: 0 9px 18px rgba(0,0,0,0.17);
}
.btn-green:hover,
.btn-green:focus {
    color: #1ddaaf !important;
    border-color: #1ddaaf !important;
    background-color: transparent !important;
}
.backgroundblur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.modal-games {
    position: fixed;
    display: none;
    top: calc((50vh - 250px) + 8vh);
    left: calc(50vw - 250px);
    z-index: 100000;
    width: 500px;
    border-radius: 50px;
}
.modal-games .modal-close{
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 37px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #1ddaaf;
  color: #1ddaaf;
  background-color: white;
  opacity: 1;
  z-index: 1000000;
}
.modal-games .modal-close:hover{
    background-color: transparent;
    opacity: 1;
    z-index: 1000000;
}
.modal-games .modal-dialog{
    margin: 0 !important;
    align-content: center;
}
.modal-games .modal-content {
  background-color: #1dabf1;
  background-image: linear-gradient(to right, rgba(29, 171, 241, 0.57), rgba(17, 82, 160, 0.57));
  border: none;
  border-radius: 50px;
  min-height: 280px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.modal-games .modal-content .form-control {
    border-radius: 1.5em;
}
.modal-games .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.modal-teams .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-teams .modal-body h1 {
    color: #fff;
    font-size: 1.5rem;
    font-family: Barack-Medium;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 0;
    text-align: center;
}
.modal-games .modal-body h1 {
    padding-top: 50px;
    color: #fff;
    font-size: 1rem;
    font-family: Barack-Medium;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 0;
    text-align: center;
}
.modal-games .modal-body h1 span{
    font-size: 1.5rem;
}