<h1>Passwort vergessen?</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "modal-form mt-2" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group ">
        <%= f.email_field :email, class: 'form-control mr-sm-3', id: 'loginEmail',placeholder:"Gebe deine E-Mail ein!", required: true  %>
        <br><br>
        <%= f.submit 'Reset Passwort!', class: 'btn btn-green mt-3 mt-md-0 w-100' %>
    </div>
<% end %>