   <div class="modal modal-peterpitch fade show" id="exampleModalCenterLogin" style="display: block;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h1>Forgot your password?</h1>
              <!--<p>Simple, visual collaboration</p>-->
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "modal-form mt-2" }) do |f| %>
				<h2></h2>

  				<%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group ">
                  <%= f.email_field :email, class: 'form-control mr-sm-3', id: 'loginEmail',placeholder:"Enter your work email", required: true  %>
                  <br>
                  <%= f.submit 'Send me reset password instructions', class: 'btn btn-green mt-3 mt-md-0 w-100' %>
                  <br>

                </div>
              <% end %>
              <!--<form class="modal-form mt-2">-->
              <!-- <div class="form-group d-flex flex-column flex-md-row align-items-center justify-content-between">-->
              <!-- <input type="email" class="form-control mr-sm-3" placeholder="Enter your work email">-->
              <!-- <button type="button" class="btn btn-green mt-3 mt-md-0 w-100">Get Started</button>-->
              <!-- </div>-->
              <!-- </form>-->
              
            </div>
          </div>
        </div>
      </div>
